#CadreForfait.off
  .margeText1
  .zoneText1
    Les forfaits de calcul vous permettent d'utiliser à la demande les outils et la puissance de calcul de Structure Computation (maillage de vos modèles, calcul de structures...). Vous pouvez cumuler plusieurs forfaits. 
  .zoneText1
    Dernier relevé : 
  .zoneText1
    %table{ :style => "margin: 0px 0px 0 10px;" }
      %tr
        %td.cadre{ :style => "width: 160px;" }
          Report de jetons
        %td.cadre{ :style => "width: 160px;" }
          Jetons standards
        %td.cadre{ :style => "width: 160px;" }
          Jetons tampons
        %td.cadre{ :style => "width: 160px;" }
          Date d'échéance
      %tr
        %td.gras#calcul_account_report_jeton
          100
        %td.gras#calcul_account_base_jeton
          500 
        %td.gras#calcul_account_base_jeton_tempon
          100
        %td.gras#calcul_account_end_date
          10-12-2010
   
  .zoneText1
    Votre utilisation actuelle :
  .zoneText1
    %table{ :style => "margin: 0px 0px 0 10px;" }
      %tr
        %td.cadre{ :style => "width: 160px;" }
          solde de jetons standards
        %td.cadre{ :style => "width: 160px;" }
          Jetons utilisé
        %td.cadre{ :style => "width: 325px;" }

      %tr
        %td.gras#calcul_account_solde_jeton
          600 
        %td.gras#calcul_account_used_jeton
          100
        %td
          .ResumeCompte3GreenBar{ :style => "margin: 0px 0px 0 0px;" }
            .ResumeCompte3GreenBarDebut
            .ResumeCompte3GreenBarMilieu#calcul_account_progress_bar
            .ResumeCompte3GreenBarFin

    
  %a{:style => "cursor: pointer;", :onclick => "displayNewForfait('on')" }
    .largeBoxFilterBoutonJaune
      Nouveaux forfait
    