-# encoding: utf-8 
-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.manage_pic_liste_membre
        = link_to "Retour à mon compte", scratch_user_path(@user)
-content_for :workspace_content do
  .grey
    = render "form"