#CadreGestionnaires.off  
  = render :partial => "sc_admin_detail_workspace/gestionnaires/filtre_gestionnaires_list"
  = render :partial => "sc_admin_detail_workspace/gestionnaires/gestionnaires_list"