/ filtre
#largeBoxfilter
  #largeBoxfilter_1
    
  #largeBoxfilter_2
    
      
  .largeBoxFilterBoutonJaune
    %img{ :src => "/images/picto_loupe_filtre.png" }
    Filtrer les liaisons
  .largeBoxFilter3
    Annuler les filtres de recherche
    %img{ :src => "/images/picto_annuler_filter.png", :style => "vertical-align:middle;" }
/ fin du filtre