-# encoding: utf-8 

-content_for :workspace_content do
  %div.loginMarge
  %div.grey.centered
    = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
      #login_format
        %p= f.label :email
        = f.text_field :email
        %p
        %p= f.submit "Resend confirmation instructions"

    %br
    %div.loginLeft
      =link_to "back to login page", destroy_user_session_path
