#NC_page_temporelle_active_2.off
  .NC_top_active_box{ :style => "margin-top:3px;" }
    %div{ :style => "float: left; width: 70px; height: 27px;" }
      
    %div{ :style => "float: left; width: 532px; height: 27px;" }
      Initialisation du calcul
    %a{ :onclick => "affich_box_temporelle()", :style => "cursor: pointer;" }
      #NC_top_box_temporelle.NC_triangle_bas

  #NC_temporelle_active_box.NC_active_box
    = render :partial => "calcul/NC_etape_temporelle/box_active_time_step"
          
/ %script{ :type => "text/javascript" }
/   $(document).ready(get_Tableau_init);