-# encoding: utf-8 
-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_materiau
        =link_to 'Retour au modèle', workspace_sc_model_path(@workspace, @sc_model)

-content_for :workspace_content do
  %h2.grey
    Déposez votre maillage pour le modèle : 
    = @sc_model.name
  .grey
    = render "form"