#prop_liaisons.off
  .NC_prop_box_titre{ :style => "height:75px" }
    .NC_prop_box_text_0{ :style => "width:130px;" }
      Nom :
    #prop_liaison_top_name.NC_prop_box_text_2{ :style => "width:150px;" }
      liaison 1
    .NC_prop_box_text_0{ :style => "width:130px;" }
      Référence :
    #prop_liaison_top_ref.NC_prop_box_text_2{ :style => "width:150px;" }
      M_1010_1_30
    .NC_prop_box_text_0{ :style => "width:180px;" }
      comportements génériques :
    .NC_prop_box_text_0{ :style => "width:400px;" }
      #prop_liaison_top_parfaite.NC_box_radio_prop
      .NC_prop_box_text_1_in
        parfaite
      #prop_liaison_top_elastique.NC_box_radio_prop
      .NC_prop_box_text_1_in
        élastique
      #prop_liaison_top_contact.NC_box_radio_prop
      .NC_prop_box_text_1_in
        contact
    .NC_prop_box_text_0{ :style => "width:180px;" }
      comportements complexes :
    .NC_prop_box_text_0{ :style => "width:400px;" }
      #prop_liaison_top_plastique.NC_box_check_prop
      .NC_prop_box_text_1_in
        plastique
      #prop_liaison_top_cassable.NC_box_check_prop
      .NC_prop_box_text_1_in
        cassable
        
        
  #prop_menu_mat
    %ul
      %li#prop_liaison_menu_generique.selected
        %a{ :onclick => "prop_liaison_affich('generique')", :style => "cursor: pointer;" }
          génériques
      %li#prop_liaison_menu_complexe
        %a{ :onclick => "prop_liaison_affich('complexe')", :style => "cursor: pointer;" }
          complexes
          
          
  / page des attribut de comportement generique
  #prop_liaison_generique.NC_prop_box.on
    .NC_prop_box_text_titre{ :style => "width:95px;" }
      Pour ce calcul
    .NC_prop_box_text_1{ :style => "width:80px;" }
      Nom :
    .NC_prop_box_text_1{ :style => "width:300px;" }
      %input#prop_liaison_name_select{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
    .NC_prop_box_text_1{ :style => "width:150px;" }
    .NC_prop_box_text_titre{ :style => "width:95px;" }
    .NC_prop_box_text_1{ :style => "width:80px;" }
      Description :
    .NC_prop_box_text_3{ :style => "width:455px;" }
      %textarea#prop_liaison_description{ :onKeyup => "prop_liaison_change_value()", :style => "width:445px;" }
    %div{ :style => "width:670px; height:10px; float:left;" }
      %hr{ :size => "1", :color => "midnightblue", :align => "center", :width => "98%" }
    #prop_liaison_comp_EP{ :style => "width:500px; float:left; " }
      .NC_prop_box_text_1{ :style => "width:180px;" }
        Epaisseur :
      .NC_prop_box_text_1{ :style => "width:40px;" }
        %p
          Ep =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_Ep{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
        m
      .NC_prop_box_text_1{ :style => "width:180px;" }
        Jeux :
      .NC_prop_box_text_1{ :style => "width:40px;" }
        %p
          j =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_jeux{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
        m
    #prop_liaison_comp_elastique{ :style => "width:500px; float:left;" }
      .NC_prop_box_text_1{ :style => "width:180px;" }
        Raideur :
      .NC_prop_box_text_1{ :style => "width:40px;" }
        %p
          R =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_R{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
        N/m
    #prop_liaison_comp_contact{ :style => "width:500px; float:left;" }
      .NC_prop_box_text_1{ :style => "width:180px;" }
        Coefficient de frottement :
      .NC_prop_box_text_1{ :style => "width:40px;" }
        %p
          f =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_f{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
        
  / page des attribut de comportement complexe
  #prop_liaison_complexe.NC_prop_box.off
    #prop_liaison_comp_plastique{ :style => "width:600px; float:left;" }
      .NC_prop_box_text_titre{ :style => "width:150px;" }
        Plastique
      .NC_prop_box_text_1{ :style => "width:165px;" }
        Limite de plasticité :
      .NC_prop_box_text_1{ :style => "width:50px;" }
        %p
          Lp =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_Lp{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
      .NC_prop_box_text_titre{ :style => "width:150px;" }
      .NC_prop_box_text_1{ :style => "width:165px;" }
        taux de plastification :
      .NC_prop_box_text_1{ :style => "width:50px;" }
        %p
          dp =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_Dp{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
      .NC_prop_box_text_titre{ :style => "width:150px;" }
      .NC_prop_box_text_1{ :style => "width:165px;" }
        déformation plastique :
      .NC_prop_box_text_1{ :style => "width:50px;" }
        %p
          p =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_p{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
      %div{ :style => "width:600px; float:left;" }
        %hr{ :size => "1", :color => "midnightblue", :align => "left", :width => "90%" }
        
    #prop_liaison_comp_cassable{ :style => "width:600px; float:left;" }
      .NC_prop_box_text_titre{ :style => "width:150px;" }
        Cassable
      .NC_prop_box_text_1{ :style => "width:165px;" }
        Limite de rupture :
      .NC_prop_box_text_1{ :style => "width:50px;" }
        %p
          Lr =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_Lr{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_value()" }
      .NC_prop_box_text_titre{ :style => "width:150px;" }
      .NC_prop_box_text_1{ :style => "width:165px;" }
        Coefficient de frottement :
      .NC_prop_box_text_1{ :style => "width:50px;" }
        %p
          f =
      .NC_prop_box_text_1{ :style => "width:160px;" }
        %input#prop_liaison_bis_f{ :type => "text", :value => "100", :onKeyup => "prop_liaison_change_f_bis()" }
      %div{ :style => "width:600px; float:left;" }
        %hr{ :size => "1", :color => "midnightblue", :align => "left", :width => "90%" }