#page_right
  .NC_top_box_Menu
    %ul
      %li#MenuPieces.selected{:style => "width: 82px; margin: 0px 1px 0 0px;" }
        %a{ :onclick => "affich_Pieces()", :style => "cursor: pointer;" }
          Pièces
      %li#MenuInterfaces{:style => "width: 84px; margin: 0px 1px 0 0px;" }
        %a{ :onclick => "affich_Interfaces()", :style => "cursor: pointer;" }
          Interfaces
      %li#MenuBords{:style => "width: 82px;" }
        %a{ :onclick => "affich_Bords()", :style => "cursor: pointer;" }
          Bords

  = render :partial => "visualisation/box_right_pieces"
  = render :partial => "visualisation/box_right_interfaces"
  = render :partial => "visualisation/box_right_bords"

/ %script{ :type => "text/javascript" }
/   $(document).ready(get_Tableau_bord);