#NC_page_CLs_1.on
  .NC_top_box
    Modèle
  #page_CL_12.NC_box
    .NC_filter{ :style => "width:248px; height:164px" }
    
    %div{ :style => "width:248px; height:5px; float:left;" }
    .NC_CL_titre
      Pièces : Champs visualisables
    .tableNC_impair
      .tableNC_box_lign#piece_lign_deplacements
        %a{ :onclick => "image_3d.color_by_field( 'dep', 1 );image_3d.fit();image_3d.render();", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#piece_lign_deplacements_radio
          .tableNC_box_2#piece_lign_deplacements_2
            Déplacements
    .tableNC_pair
      .tableNC_box_lign#piece_lign_deformations
        %a{ :onclick => "image_3d.color_by_field( 'epsilon', 1 );image_3d.fit();image_3d.render();", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#piece_lign_deformations_radio
          .tableNC_box_2#piece_lign_deformations_2
            Déformations
    .tableNC_impair
      .tableNC_box_lign#piece_lign_contraintes
        %a{ :onclick => "image_3d.color_by_field( 'sigma', 1 );image_3d.fit();image_3d.render();", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#piece_lign_contraintes_radio
          .tableNC_box_2#piece_lign_contraintes_2
            Contraintes
    .tableNC_pair
      .tableNC_box_lign#piece_lign_contraintes_VM
        %a{ :onclick => "image_3d.color_by_field( 'sigma_mises', 1 );image_3d.fit();image_3d.render();", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#piece_lign_contraintes_VM_radio
          .tableNC_box_2#piece_lign_contraintes_VM_2
            Contraintes de Von Mises
    .tableNC_impair
      .tableNC_box_lign#piece_lign_E_deformation
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#piece_lign_E_deformation_radio
          .tableNC_box_2#piece_lign_E_deformation_2
            Energie de déformation
    .tableNC_pair
      .tableNC_box_lign#piece_lign_erreur
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#piece_lign_erreur_radio
          .tableNC_box_2#piece_lign_erreur_2
            Carte d erreur
          
    %div{ :style => "width:248px; height:5px; float:left;" }
    .NC_CL_titre
      Interfaces : Champs visualisables
    .tableNC_impair
      .tableNC_box_lign#Interface_lign_deplacements
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#Interface_lign_deplacements_radio
          .tableNC_box_2#Interface_lign_deplacements_2
            Déplacements
    .tableNC_pair
      .tableNC_box_lign#Interface_lign_efforts
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#Interface_lign_efforts_radio
          .tableNC_box_2#Interface_lign_efforts_2
            Efforts
    .tableNC_impair
      .tableNC_box_lign#Interface_lign_E_deformation
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#Interface_lign_E_deformation_radio
          .tableNC_box_2#Interface_lign_E_deformation_2
            Energie de déformation
    .tableNC_pair
      .tableNC_box_lign#Interface_lign_erreur
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_radio_select#Interface_lign_erreur_radio
          .tableNC_box_2#Interface_lign_erreur_2
            Carte d'erreur

    %div{ :style => "width:248px; height:5px; float:left;" }
    .NC_CL_titre
      Elements à visualiser
    .tableNC_impair
      .tableNC_box_lign#Element_lign_niveaux
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_check_select#Element_lign_niveaux_check
          .tableNC_box_2
            Niveaux inférieurs
    .tableNC_pair
      .tableNC_box_lign#Element_lign_fissures
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_check_select#Element_lign_fissures_check
          .tableNC_box_2
            Efforts
    .tableNC_impair
      .tableNC_box_lign#Element_lign_plastique
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_check_select#Element_lign_plastique_check
          .tableNC_box_2
            Zones plastifiées
    .tableNC_pair
      .tableNC_box_lign#Element_lign_endomagement
        %a{ :onclick => "", :style => "cursor: pointer;" }
          .tableNC_box_check_select#Element_lign_endomagement_check
          .tableNC_box_2
            Zones endomagées
    

    /%div{ :style => "width:248px; height:23px; float:left;" }
    /.NC_filter{ :style => "width:248px; height:20px" }
      
-# %script{ :type => "text/javascript" }
-#   $(document).ready(get_Tableau_CL);