#CadreAbonnement.on
  .margeText1
  .zoneText1
    Cet abonnement annuel donne accès à un espace mémoire sur les serveur de Structure Computation. Il vous permet de stocker les modèles, les résultats de calculs et l'ensemble des informations relatives aux modèles.
  .zoneText1
    Votre abonnement actuel est  le suivant : 

  .zoneText1
    %table{ :style => "margin: 0px 0px 0 10px;" }
      %tr
        %td.cadre{ :style => "width: 140px;" }
          Mémoire diponnible
        %td.cadre{ :style => "width: 140px;" }
          Date d'échéance
        %td.cadre{ :style => "width: 365px;" }
          utilisation actuelle
      %tr
        %td.gras#memory_account_assigned_memory
          500 
        %td.gras#memory_account_end_date
          10-12-2010
        %td.gras#memory_account_used_memory
          100
          .ResumeCompte3GreenBar{ :style => "margin: 0px 0px 0 0px;" }
            .ResumeCompte3GreenBarDebut
            .ResumeCompte3GreenBarMilieu#memory_account_progress_bar
            .ResumeCompte3GreenBarFin

  .margeText1
  .margeText1
  .zoneText2
    .gras
      Description :  
    Les modèles et les calculs effectués par vos ingénieurs peuvent générés des données prenant beaucoup d'espace mémoire. Dans le cadre de votre abonnement annuel, nous mettons à votre disposition un espace mémoire minimum. En cas de dépassement, l'espace supplémentaire utilisé vous sera facturé 0,3 Euros\/giga\/moi. Vous pouvez à tous moments modifier votre abonnement mémoire en contactant notre serv ice clientelle. 
   
/   %a{ :href => "#", :onclick => "displayNewAbonnement('on')" }
/     .largeBoxFilterBoutonJaune
/       modifier l'abonnement