/ résumé
#CompteAbonnementResume.largeBoxResumeCompte1
  %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_abonnement()" } 
    #CompteAbonnementFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90px ;margin-top:10px" }
      Sécurité 
      %br
      Mémoire
      %br
      Visualisation
  .ResumeCompte3
    .ResumeCompteText1.gras
      Abbonnement annuel
    %a{ :style => "cursor: pointer;", :onclick => "modif_compte_abonnement()" } 
      .ResumeCompteBouton
        Modifier
    #memory_account_info_greybar.ResumeCompte3GreenBar.on
      .ResumeCompte3GreenBarDebut
      .ResumeCompte3GreenBarMilieu#memory_account_info_progress_bar
      .ResumeCompte3GreenBarFin
    #memory_account_info_redbar.ResumeCompte3RedBar.off
    .ResumeCompteText2
      utilisation de la mémoire : 
      %span#memory_account_info_used_memory
        100
      \/
      %span#memory_account_info_assigned_memory
        500
  .ResumeCompte4
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
      Actif 
  .ResumeCompte5
    
/ fin du résumé