%h2
  Edition d'une liaison
%h3
  Information générique
%table.grey
  %tbody
    %tr
      %th Nom :
      %td{:colspan => "2"}
        %input#link_name{:size => "10", :type => "text"}
    %tr
      %th Description :
      %td{:colspan => "2"}
        %textarea#link_description{:cols => "40", :rows => "5"}
    %tr
      %th Epaisseur :
      %td.label_table
        %label{:for => "link_Ep"} Ep =
      %td
        %input#link_Ep{:size => "10", :type => "text"}
        m
    %tr
      %th Jeu :
      %td.label_table
        %label{:for => "link_jeu"} j =
      %td
        %input#link_jeu{:size => "10", :type => "text"}
        m