/ contenu
#CompteCalculContent.largeBoxContentCompte1.off
  / menu du compte calcul
  .CompteMenu
    %ul
      %li#CCMUtilisation.selected
        %a{ :onclick => "compte_calcul_affich_Utilisation()", :style => "cursor: pointer;" }
          Décompte
      %li#CCMDescription
        %a{ :onclick => "compte_calcul_affich_Description()", :style => "cursor: pointer;" }
          Description

  .CompteContent
    .CompteContentHeightMin
    = render :partial => "companies/calcul/cadre_utilisation"
    = render :partial => "companies/calcul/cadre_description"
  
  
  
  
  
  
  
  
  
  
  
/ fin menu compte calcul
/ fin du contenu