/ résumé
#CompteCalculResume.largeBoxResumeCompte1
  %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_calcul()" } 
    #CompteCalculFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
      Calcul
  .ResumeCompte3
    .ResumeCompteText1.gras
      Jetons de calcul
    %a{ :style => "cursor: pointer;", :onclick => "modif_compte_calcul()" } 
      .ResumeCompteBouton
        Nouveau
    #calcul_account_info_greybar.ResumeCompte3GreenBar.on
      .ResumeCompte3GreenBarDebut
      .ResumeCompte3GreenBarMilieu#calcul_account_info_progress_bar
      .ResumeCompte3GreenBarFin
    #calcul_account_info_redbar.ResumeCompte3RedBar.off
    .ResumeCompteText2
      utilisation du forfait : 
      %span#calcul_account_info_used_jeton
        100
      \/
      %span#calcul_account_info_base_jeton
        500
  .ResumeCompte4
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
      Actif 
  .ResumeCompte5
    
/ fin du résumé