#NC_page_initialisation_active_2.off
  .NC_top_active_box{ :style => "margin-top:3px;" }
    %div{ :style => "float: left; width: 70px; height: 27px;" }
    %div{ :style => "float: left; width: 532px; height: 27px;" }
      Initialisation du calcul
    %a{ :onclick => "affich_box_init()", :style => "cursor: pointer;" }
      #NC_top_box_init.NC_triangle_bas

  #NC_init_active_box.NC_active_box
    .NC_active_box_init
      .NC_active_box_init_text_1{ :style => "width:130px;" }
        Nom du calcul :
      .NC_active_box_init_text_1{ :style => "width:250px;" }
        %input#init_name{ :type => "text", :value => "premier calcul", :disabled => "true", :onKeyup => "Tableau_init_change_value()" }
      .NC_active_box_init_text_1{ :style => "width:245px;" }
        Référence :
        %span#init_id
          C_1010_1_30
      .NC_active_box_init_text_2{ :style => "width:130px;" }
        Description :
      .NC_active_box_init_text_2{ :style => "width:510px;" }
        %textarea#init_description{ :onKeyup => "Tableau_init_change_value()" }
      - if @dim_model == 2
        .NC_active_box_init_text_1{ :style => "width:130px;" }
          Calcul :
        .NC_active_box_init_text_1{ :style => "width:250px;" }
          %select#init_D2type{ :onChange => "Tableau_init_change_value()" }
            %option{ :value => "CP" }
              Contraintes planes
            %option{ :value => "DP" }
              Déformations planes
        .NC_active_box_init_text_1{ :style => "width:265px;" }
      .NC_active_box_init_text_1{ :style => "width:130px;" }
        Type :
      .NC_active_box_init_text_1{ :style => "width:250px;" }
        %select#init_ctype{ :onChange => "Tableau_init_change_value()" }
          %option{ :value => "statique" }
            statique
          %option{ :value => "quasistatique" }
            quasistatique
          %option{ :value => "dynamique" }
            dynamique  
    = render :partial => "calcul/NC_etape_initialisation/box_active_time_step"
          
/ %script{ :type => "text/javascript" }
/   $(document).ready(get_Tableau_init);