#leftBox
  %h2
    Racourcis
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/picto_profil.png" }
      %td
        %a{ :href => "/sc_admin_company" }
          Liste sociétés

#leftBox
  %h2
    Nouveaux
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/picto_profil.png" }
      %td
        %a{ :href => "#", :onclick => "displayNewAbonnement('on')" }
          Modifier l'abonnement
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/picto_profil.png" }
      %td
        %a{:style => "cursor: pointer;", :onclick => "displayNewForfait('on')" }
          Nouveau forfait

