/ filtre
#largeBoxInfo
  .DetailCadreModelTitre#company_detail_name
    nom
  .margeText1
  .zoneText1
    %table{ :style => "margin: 0px 0px 0 10px;" }
      %tr
        %td.gras{ :style => "width: 140px ;" }
          Abbonnement :  
        %td.gras#memory_account_info_assigned_memory{ :style => "width: 50px ;" }
          500 
        %td.gras#memory_account_info_end_date{ :style => "width: 90px ;" }
          10-12-2010
        %td.gras#memory_account_info_used_memory{ :style => "width: 50px ;" }
          100
        %td{ :style => "width: 340px ;" }
          .ResumeCompte3GreenBar{ :style => "margin: 0px 0px 0 0px;" }
            .ResumeCompte3GreenBarDebut
            .ResumeCompte3GreenBarMilieu#memory_account_info_progress_bar
            .ResumeCompte3GreenBarFin
      %tr
        %td.gras
          forfait : 
        %td.gras#calcul_account_info_base_jeton
          600 
        %td.gras#calcul_account_info_end_date
          10-12-2010
        %td.gras#calcul_account_info_used_jeton
          200
        %td
          .ResumeCompte3GreenBar{ :style => "margin: 0px 0px 0 0px;" }
            .ResumeCompte3GreenBarDebut
            .ResumeCompte3GreenBarMilieu#calcul_account_info_progress_bar
            .ResumeCompte3GreenBarFin