ul#calculs
  border: 1px solid #B2B2B2
  list-style-type: none
  padding-left: 0
  padding-top: 0
  margin: 0
  li
    cursor: pointer
    padding: 0.5em
  li:nth-child(odd)
    background-color: #F7F7F7
  li.calcul_view.selected
    background-color: #CCF
    font-weight: bold
  li:hover
    background-color: #BBF
    
#initialisation_button
  padding: 1em
  button
    float: right