footer
  margin-top: 1%
  +full
  +background-image(linear-gradient($color-header-start, $color-header-end))
  min-width    : 100%
  display      : block

footer .container
  height       : 30px
  font-weight  : normal
  color        : #E5E5E5
  text-align   : right
  
  