#contentleft
  +columns(4)

.left_submenu
  margin-top: 0.5em
  margin-bottom: 0.5em
  h2
    font-size: 110%
    text-align: center
    font-weight: 100
    +border-top-radius(0.8em)
    +background-image(linear-gradient(#e5e7f3, #afafb3))
    line-height: 1.7em
    border: 1px solid dimGray
    border-bottom: none
    margin-bottom: 0
  ul 
    list-style-type: none
    padding-top: 0.5em
    padding-bottom: 0.5em
    border: 1px solid dimGray
    padding-left: 1em
    margin-top: 0
    background-color: white
    li
      a
        color: dimGray
        font-size: 100%
        padding-left: 20px
        line-height: 1.8em
        display: block
        margin: auto
        text-decoration: underline
    li.manage_pic_liste_compte
      a
        background: url('/images/manage_pic_liste_compte.png') no-repeat left center 
    li.manage_pic_liste_membre
      a 
        background: url('/images/manage_pic_liste_membre.png') no-repeat left center 
    li.manage_pic_nouveau_membre
      a 
        background: url('/images/manage_pic_nouveau_membre.png') no-repeat left center
    li.manage_pic_liste_factures
      a
        background: url('/images/manage_pic_liste_factures.png') no-repeat left center 
    li.manage_pic_liste_compte
      a
        background: url('/images/manage_pic_liste_compte.png') no-repeat left center 
    li.manage_pic_compte_abonnement
      a
        background: url('/images/manage_pic_compte_abonnement.png') no-repeat left center
    li.manage_pic_compte_memoire
      a
        background: url('/images/manage_pic_compte_memoire.png') no-repeat left center              
    li.LM_pic_model
      a
        background: url('/images/LM_pic_model.png') no-repeat left center
    li.LM_pic_new_model
      a
        background: url('/images/LM_pic_new_model.png') no-repeat left center 
    li.LM_pic_materiau
      a
        background: url('/images/LM_pic_materiau.png') no-repeat left center 
    li.LM_pic_liaison
      a
        background: url('/images/LM_pic_liaison.png') no-repeat left center
    li.LM_pic_new_liaison
      a
        background: url('/images/LM_pic_liaison.png') no-repeat left center        
    li.picto_profil
      a
        background: url('/images/picto_profil.png') no-repeat left center
        
ul.tab_submenu
  list-style: none
  margin-top: 2em
  padding-left: 0
  li
    font-family: Verdana, Arial, Helvetica, sans-serif
    font-size: 0.9em
    margin-bottom: 0.2em
    a
      text-decoration: none
      line-height: 2em
      display: block
      background-color: $color-tab-start
      padding: 0.2em 1em 0.2em 1em
      +border-left-radius(0.4em)
      color: $color-font-header
      text-align: right
  li
    a.selected
      background-color: darken($color-tab-selected-start, 5%)
      color       : $color-font-selected-tab
      font-weight : bold


    
div.tab_content
  border: 3px darken($color-tab-selected-start, 5%) solid
  +border-radius(0.4em)
  margin-left: -1.4%
  background-color: #F0F0F0
  h2
    margin-top: 0
    margin-bottom: 0
    padding: 0.2em
    +border-top-radius(0.2em)
    background-color: $color-tab-selected-start
    text-align: center  
  .wrapper
    padding: 1%