.ligne_resume_table
  %p.description
    Sécurité 
    %br
    Mémoire
    %br
    Visualisation
  %p.abonnement Abonnement annuel
  %p.utilisation utilisation de la mémoire :
  -# TODO: mettre un slider représentant l'utilisation de la mémoire
  %p.modification
    %a.yellow_button{ :style => "cursor: pointer;", :onclick => "modif_compte_abonnement()" } 
      Modifier
.ligne_content_table
  .compte_menu
    %ul
      %li
        %a{ :onclick => "affich_contenu_compte_abonnement()", :style => "cursor: pointer;" }
          Description
  .compte_content 
    %p Cet abonnement annuel donne accès à un espace mémoire sur les serveurs de Structure Computation. Il vous permet de stocker les modèles, les résultats de calculs et l'ensemble des informations relatives aux modèles.
    %p Votre abonnement actuel est  le suivant : 
    %table
      %tr
        %td Mémoire disponible
        %td Date d'échéance
        %td Utilisation actuelle
      %tr
        %td 500 
        %td 10-12-2010
        %td 100