-# encoding: utf-8 

-content_for :left_top do
  .left_submenu
    %h2.grey
    %ul.grey
      %li.manage_pic_liste_compte
        = link_to "Back to workspace list", workspaces_path() 

-content_for :workspace_content do
  .grey
    &nbsp
    .grey.centered
      = render "form"
    &nbsp