-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_model
        = link_to "Retour à mon compte", scratch_user_path(current_user)
-content_for :workspace_content do
  .grey
    = render "form"