#New_wiz_layer.off
  #New_wiz_layer_top
    Création d'un nouveau modèle
  #New_wiz_layer_milieu
    #NM_wiz_menu
      %a{ :onclick => "()" } 
        #NM_PB_page_information{ :style => "z-index: 100; margin-left:0px;" }
          Information
      %a{ :onclick => "()" } 
        #NM_PB_page_fichier{ :style => "z-index: 99; margin-left:220px" }
          Fichiers
      %a{ :onclick => "()" } 
        #NM_PB_page_resume{ :style => "z-index: 98; margin-left:440px" }
          Résumé
        
    / page information
    #NM_page_information
      .NM_bleu{ :style => "width: 600px; height: 20px;  margin: 10px 0px 0 63px;" }
        Choisissez un type de matériaux parmi ceux disponnibles
      = render :partial => "material_nouveau_list"
    / page fichier et description
    #NM_page_fichier
      %div{:style => "width: 7px; height: 330px; float:left;" }
      = render :partial => "material_nouveau_prop"
 
    / page résumé
    #NM_page_resume
      .NM_bleu{ :style => "width: 730px; height: 70px;  margin: 0px 0px 0 3px;" }
      .NM_fond_resume{ :style => "width: 730px; margin: 0px 0px 0 3px;" }
        .NM_text_1{ :style => "width:200px;" }
          Nom du modèle :
        #sc_model_info_name.NM_text_1{ :style => "width:500px;" }
        .NM_text_2{ :style => "width:200px;" }
          Description :
        #sc_model_info_description.NM_text_2{ :style => "width:500px; height:100px;" }
      %div{:style => "width: 300px; margin: 20px 0px 0 213px; float:left;" }
        .wiz_pic_ok
        .NM_bleu{ :style => "width: 200px; height:20px; margin: 25px 0px 25px 20px;" }
          Modèle déposé avec succès

  #New_wiz_layer_bas
    #wiz_annul.on{:style => "float: left;" }
      %a{ :style => "cursor: pointer;", :onclick => "displayNewMaterial('off')" } 
        .New_create_bouton_jaune
          Annuler
    #wiz_suiv.on{:style => "float: right;" }
      %a{ :onclick => "NM_next_stape()", :style => "cursor: pointer;" } 
        .New_footer_bouton_suivant.New_footer_top_bouton{ :style => "margin-right:5px;" }
          Suivant
      %a{ :onclick => "NM_previous_stape()", :style => "cursor: pointer;" } 
        .New_footer_bouton_precedent.New_footer_top_bouton
          Précédent

    #wiz_valid.off{:style => "float: right;" }
      %a{ :onclick => "displayNewMaterial('off')", :style => "cursor: pointer;" }
        .New_create_bouton_jaune{ :style => "margin-right:5px;" }
          Valider
