/ résumé
#FactureResume.largeBoxResumeCompte1
  %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_factures()" } 
    #FactureFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90px;" }
      liste et détail de vos factures
  .ResumeCompte3
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      Liste des factures
  .ResumeCompte6
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      %span#FactureNB.textred
        N
      Factures à payer
  
    
/ fin du résumé