#prop_bords.off
  .NC_prop_box_titre{ :style => "height:50px" }
    .NC_prop_box_text_2{ :style => "width:600px;" }
      Choisissez un critière pour définir le nouveau bord  
    .NC_prop_box_text_2{ :style => "width:600px;" }
      %select#prop_bords_type{ :onChange => "Tableau_bords_for_info_change_type()", :style => "width:200px;"}
        %option{ :value => "" }
          Choisir un critère
        %option{ :value => "is_in" }
          Dans un volume
        %option{ :value => "is_on" }
          Sur une surface
        %option{ :value => "has_normal" }
          Selon la normale
  .NC_prop_box{ :style => "height:5px;" }
  #prop_bords_is_in.NC_prop_box.on
    .prop_bords_box
      .NC_prop_box_text_2{ :style => "width:400px;" }
        %select#prop_bords_geometry{ :onChange => "Tableau_bords_for_info_change_geometry()", :style => "width:200px;" }
          %option{ :value => "" }
            Choisir une géométrie
          %option{ :value => "box" }
            Dans une boite
          %option{ :value => "cylindre" }
            Dans un cylindre
          %option{ :value => "sphere" }
            Dans une sphere
    #prop_bords_is_in_box.prop_bords_box.on
      .NC_prop_box_text_titre{ :style => "width:45px;" }
      .NC_prop_box_text_1{ :style => "width:80px;" }
        Nom :
      .NC_prop_box_text_1{ :style => "width:300px;" }
        %input#prop_bords_is_in_box_name{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
      .NC_prop_box_text_1{ :style => "width:200px;" }
      .NC_prop_box_text_titre{ :style => "width:45px;" }
      .NC_prop_box_text_1{ :style => "width:80px;" }
        Description :
      .NC_prop_box_text_3{ :style => "width:455px;" }
        %textarea#prop_bords_is_in_box_description{ :onKeyup => "Tableau_bords_for_info_change_value()", :style => "width:445px;" }
      %div{:style => "width:660px;height:10px;float:left"}
      .NC_prop_box_text_titre{ :style => "width:45px;" }
      .NC_prop_box_text_1{ :style => "width:80px;" }
        point 1 :
      .NC_prop_box_text_1{ :style => "width:20px;" }
        x :
      .NC_prop_box_text_1{ :style => "width:100px;" }
        %input#prop_bords_is_in_box_point_1_x{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
      .NC_prop_box_text_1{ :style => "width:20px;" }
        y :
      .NC_prop_box_text_1{ :style => "width:100px;" }
        %input#prop_bords_is_in_box_point_1_y{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
      .NC_prop_box_text_1{ :style => "width:20px;" }
        z :
      .NC_prop_box_text_1{ :style => "width:100px;" }
        %input#prop_bords_is_in_box_point_1_z{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
      %div{:style => "width:660px;height:5px;float:left"}
      .NC_prop_box_text_titre{ :style => "width:45px;" }
      .NC_prop_box_text_1{ :style => "width:80px;" }
        point 2 :
      .NC_prop_box_text_1{ :style => "width:20px;" }
        x :
      .NC_prop_box_text_1{ :style => "width:100px;" }
        %input#prop_bords_is_in_box_point_2_x{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
      .NC_prop_box_text_1{ :style => "width:20px;" }
        y :
      .NC_prop_box_text_1{ :style => "width:100px;" }
        %input#prop_bords_is_in_box_point_2_y{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
      .NC_prop_box_text_1{ :style => "width:20px;" }
        z :
      .NC_prop_box_text_1{ :style => "width:100px;" }
        %input#prop_bords_is_in_box_point_2_z{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
      %div{:style => "width:640px;float:left"}
        %a{ :onclick => "duplic_bord()",     :style => "cursor: pointer;" }
          .NC_bottom_page_3.left
            Dupliquer
        %a{ :onclick => "valid_bord()",     :style => "cursor: pointer;" }
          .NC_bottom_page_3.right
            Valider
  .NC_prop_box{ :style => "height:5px;" }