#prop_bords_is_on_plan.prop_bords_box.off
  .NC_prop_box_text_titre{ :style => "width:45px;" }
  .NC_prop_box_text_1{ :style => "width:80px;" }
    Nom :
  .NC_prop_box_text_1{ :style => "width:300px;" }
    %input#prop_bords_is_on_plan_name{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
  .NC_prop_box_text_1{ :style => "width:200px;" }
  .NC_prop_box_text_titre{ :style => "width:45px;" }
  .NC_prop_box_text_1{ :style => "width:80px;" }
    Description :
  .NC_prop_box_text_3{ :style => "width:455px;" }
    %textarea#prop_bords_is_on_plan_description{ :onKeyup => "Tableau_bords_for_info_change_value()", :style => "width:445px;" }
    
  %div{:style => "width:660px;height:10px;float:left"}
  .NC_prop_box_text_titre{ :style => "width:15px;" }
  .NC_prop_box_text_1{ :style => "width:110px;" }
    Point :
  .NC_prop_box_text_1{ :style => "width:20px;" }
    x :
  .NC_prop_box_text_1{ :style => "width:100px;" }
    %input#prop_bords_is_on_plan_point_1_x{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
  .NC_prop_box_text_1{ :style => "width:20px;" }
    y :
  .NC_prop_box_text_1{ :style => "width:100px;" }
    %input#prop_bords_is_on_plan_point_1_y{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
  .NC_prop_box_text_1{ :style => "width:20px;" }
    z :
  .NC_prop_box_text_1{ :style => "width:100px;" }
    %input#prop_bords_is_on_plan_point_1_z{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
    
  %div{:style => "width:660px;height:5px;float:left"}
  .NC_prop_box_text_titre{ :style => "width:15px;" }
  .NC_prop_box_text_1{ :style => "width:110px;" }
    Direction normale :
  .NC_prop_box_text_1{ :style => "width:20px;" }
    x :
  .NC_prop_box_text_1{ :style => "width:100px;" }
    %input#prop_bords_is_on_plan_pdirection_x{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
  .NC_prop_box_text_1{ :style => "width:20px;" }
    y :
  .NC_prop_box_text_1{ :style => "width:100px;" }
    %input#prop_bords_is_on_plan_pdirection_y{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
  .NC_prop_box_text_1{ :style => "width:20px;" }
    z :
  .NC_prop_box_text_1{ :style => "width:100px;" }
    %input#prop_bords_is_on_plan_pdirection_z{ :type => "text", :value => "100", :onKeyup => "Tableau_bords_for_info_change_value()" }
    
  %div{:style => "width:640px;float:left"}
    %a{ :onclick => "duplic_bord()",     :style => "cursor: pointer;" }
      .NC_bottom_page_3.left
        Dupliquer
    %a{ :onclick => "valid_bord()",     :style => "cursor: pointer;" }
      .NC_bottom_page_3.right
        Valider