// Definition des CSS des Header et de la pathBar.

!header_width = 945px

#header_top
  background:   transparent url('../images/header_top.png') no-repeat left top
  width:        !header_width
  height:       46px
  text-align:   left
  float:        left


#header_menu
  background:   transparent url('../images/header_menu.png') no-repeat left top
  width:        !header_width
  height:       35px
  text-align:   left
  float:        left


#header_barre_bas
  background:   transparent url('../images/header_barre_bas.png') no-repeat left top
  width:        !header_width
  height:       2px
  text-align:   left
  float:        left


#path_bar
  background:   transparent url('../images/path_bar.png') no-repeat left top
  width:        !header_width
  height:       27px
  float:        left


#path_bar_1
  width:        42px
  height:       27px
  float:        left


#path_bar_2
  width:            900px
  height:           27px
  line-height:      29px
  text-align:       left
  font-size:        0.5em
  vertical-align:   middle
  float:            left