/* reset default style */
body, div, h1, h2, h3, p, ul, li
{
  margin: 0;
  padding: 0;
  position: relative;
}

div.clearline
{
  clear: both;
}

/* 
 * Mise en page globale du site
 * Elements : body, conteneur, header, content, footer
 *
 */

body
{
  background-color: #f8f8f8;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: black;
  line-height: 1;
  text-align: center;
  margin-top: 10px;
}

#conteneur
{
  background: transparent;
  width: 946px;
  margin: 0 auto;
}

/* header ---------------------  */ 
#header_top
{
  background: transparent url('../images/header_top.png') no-repeat left top;
  width: 945px;
  height: 46px;
  text-align: left;
  float: left;
}
#header_menu
{
  background: transparent url('../images/header_menu.png') no-repeat left top;
  width: 945px;
  height: 35px;
  text-align: left;
  float: left;
}
#header_barre_bas
{
  background: transparent url('../images/header_barre_bas.png') no-repeat left top;
  width: 945px;
  height: 2px;
  text-align: left;
  float: left;
}
#path_bar
{
  background: transparent url('../images/path_bar.png') no-repeat left top;
  width: 945px;
  height: 27px;
  float: left;
}
#path_bar_1
{
  width: 42px;
  height: 27px;
  float: left;
}
#path_bar_2
{
  width: 900px;
  height: 27px;
  line-height: 29px;
  text-align: left;
  font-size: 0.5em;
  vertical-align:middle;
  float: left;
}

/* contenu ---------------------  */ 
#content
{
  width: 945px;
  text-align: left;
  background: transparent url('../images/conteneur_milieu.png') repeat-y left top;
  float: left;
 }
.black
{ 
	position: absolute;
	z-index: 10;
	width:940px ;
	height:100% ;
	background-color: black;
	filter: Alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: 0.50;
	opacity: .50;
}
#contentleft
{
  width: 197px;
  text-align: left;
  background: transparent ;
  float: left;
}
#contentright
{
  width: 745px;
  text-align: left;
  background: transparent;
  float: left;
}
.contentheightmin
{
  height: 497px;
  background: transparent ;
  float: left;
}


/* footer ---------------------  */
#footer_top
{
  width: 945px;
  height: 49px;
  text-align: left;
  background: transparent url('../images/footer_top.png') no-repeat left top;
  float: left;
}
#black_footer_top.black
{ 
	position: absolute;
	z-index: 10;
	width:945px ;
	height:49px ;
	background: transparent url('../images/black_footer_top.png') no-repeat top left;
	filter: Alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: 0.50;
	opacity: .50;
}
#footer
{
  position: relative;
  background: transparent url('../images/footer.png') no-repeat top left;
  height: 31px;
  width: 945px;
  float: left;
}
#black_footer.black
{ 
	position: absolute;
	z-index: 10;
	width:945px ;
	height:31px ;
	background: transparent url('../images/black_footer.png') no-repeat top left;
	filter: Alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: 0.50;
	opacity: .50;
}

#footer p, #footer a
{
  color: #C8C8C8;
  text-decoration: none;
  line-height: 20px;
  text-align: left;
  font-size: 0.6em;
  margin-left: 12px;
  float: left;
}

#footer a
{
  position: absolute;
  right: 18px;
  text-decoration: underline;
}

#footer a:hover
{
  text-decoration: none;
}
/*
 * Css pour la société et l'identité de l'utilisateur
 *
 */
#header_top_logo
{
  width: 280px;
  height: 46px;
  text-align: left;
  float: left;
}
#header_top_societe
{
  width: 480px;
  height: 46px;
  text-align: right;
  padding : 10px 0px 0 0px;
  color: #e5e5e5;
  font-size: 0.80em;
  font-weight: normal;
  float: left;
}
#header_top_temp
{
  width: 10px;
  height: 46px;
  float: left;
}
#header_top_user
{
  width: 125px;
  height: 46px;
  text-align: right;
  padding : 10px 0px 0 0px;
  color: #e5e5e5;
  font-size: 0.80em;
  font-weight: normal;
  float: left;
}
#header_profil_1
{
  width: 315px;
  height: 35px;
  text-align: right;
  padding : 0px 0px 0px 0px;
  color: #b8b9c3;
  font-size: 0.70em;
  font-weight: 100;
  float: left;
}
#header_profil_2
{
  width: 65px;
  height: 35px;
  text-align: right;
  padding : 18px 0px 0px 0px;
  color: #b8b9c3;
  font-size: 0.70em;
  font-weight: 100;
  float: left;
}

/*
 * Css pour le menu
 *
 */

#menu
{
  width: 550px;
  height: 35px;
  background: transparent;
  float: left ;
  margin: 0px 0px 0 1px;
}

#menu li
{
  list-style-type: none;
  float: left;
  width: 125px;
  height: 35px;
  background: transparent;
  line-height: 35px;
  margin: 0px 0px 0 0px;
  padding: 5px 0px 0 0px;
  text-align: center;
}

#mAccueil.selected, #mSCmanage.selected, #mSCproject.selected, #mSCcompute.selected
{
  background: transparent url('../images/header_menu_selected.png') no-repeat left top;
}

#menu li a
{
  font-size: 0.80em;
  font-weight: normal;
  color: #e5e5e5;
  text-decoration: none;
  display: block;
}

#menu li.selected a
{
  color: #2a3556;
}

#menu li a:hover
{
  color: #ffdb00;
}

#menu li.selected a:hover
{
  color: #2a3556;
}


/*
 * Boite des racourcis leftbox ------------------------------------
 *
 */
#leftBox
{
  background: transparent url('../images/left_box_header_Bg.png') no-repeat top left;
  width: 197px;
  margin: 0px 0px 0 0;
  float: left;
}

#leftBox h2
{
  width: 197px;
  height: 19px;
  font-weight: normal;
  font-size: 0.8em;
  color: black;
  padding: 10px 0 0 0px;
  text-align: center;
}

#leftBoxcontent
{
  background: transparent url('../images/left_box_side_Bg.png') repeat-y left top;
  width: 197px;
  float: left;
}

#tableleftBox
{
  width: 177px;
  margin: 3px 0px 0px 15px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  border: none;
  border-collapse: collapse;
}
#tableleftBox tr
{
  height: 20px;
}
#tableleftBox tr a
{
  text-decoration: underline ;
}

#leftBoxfoot
{
  background: transparent url('../images/left_box_bottom_Bg.png') no-repeat top left;
  width: 197px;
  height: 15px;
  float: left
}


/*
 * Boite centrale largebox ------------------------------------
 *
 */

#largeBox
{
  background: transparent url('../images/large_box_header_Bg.png') no-repeat top left;
  width: 743px;
  margin: 0px 0px 0 0;
  float: left
}

#largeBox h2
{
  width: 743px;
  height: 19px;
  font-weight: normal;
  font-size: 0.8em;
  color: black;
  padding: 10px 0 0 0px;
  text-align: center
}
#largeBoxcontent
{
  background: transparent url('../images/large_box_side_Bg.png') repeat-y left top;
  width: 743px;
  margin: 0px 0px 0 0;
  float: left
}
/*
 * espace des filtre et des info projets
 *
 */
#largeBoxfilter
{
  background-color: #f0f0f0;
  width: 722px;
  height: 120px;
  margin: 13px 0px 0 9px;
  font-weight: normal;
  font-size: 0.75em;
  color: #696969;
  float: left;
  text-align: justify;
  
}
#largeBoxfilter_1
{
  width: 240px;
  height: 110px;
  margin: 5px 0px 0 30px;
  float: left;
  line-height: 25px;
}
#largeBoxfilter_2
{
  width: 420px;
  height: 50px;
  margin: 5px 0px 0 30px;
  line-height: 23px;
  float: left;
}
#table_lbfilter {
	width: 390px ;
	border : medium ;
	border-collapse: collapse;
	border-top-width : 0px;
	border-bottom-width : 0px;
	text-align: right;
}
#table_lbfilter tr {
	height: 23px;
}
#table_lbfilter td.bouton_jaune {
	width: 350px;
	height: 32px;
	padding: 0px 40px 0 0px;
	color: #2a3556;
  	background: transparent url('../images/filter_button_jaune.png') no-repeat right top;
}
#table_lbfilter td.bouton_jaune img
{
  vertical-align:top;
  border:none;
  margin:0px 25px 0 15px;
}

/*
 * tableau pour la liste des projets
 *
 */
 
/*//#largeBoxtable_projet
//{
//  width: 725px;
//  margin: 13px 0px 0 9px; 
//  float: left;
//}
// 
//#table_projet {
//  border: thin solid #ffffff;
//  border-collapse: collapse;
//  width: 723px ;
//  margin: 0px 0px 0 0px;
//  font-weight: normal;
//      font-size: 0.7em;
//}
//#table_projet th {
//  padding: 5px;
//  color: #ffffff;
//  font-weight: normal;    
//}
//#table_projet td {
//  border: thin solid #ffffff;
//  border-top-width : 0px;
//  border-bottom-width : 0px;
//  padding-left: 5px;
//}
//#table_projet tr.first {
//  border: none;
//  background : transparent url('../images/tableau_header_Bg.png') repeat-x left top;
//  height: 35px;
//}
//#table_projet tr.pair {
//  border: none;
//  background-color: #b8b9c3;
//  height: 35px;
//}
//#table_projet tr.impair {
//  border: none;
//  background-color: #cacbd5;
//  height: 35px;
//}
//#table_projet tr:hover 
//{
//  border: none;
//  background-color: #9297a8;
//  color: #ffffff; 
//}*/
/*
 * tableau pour la liste des projets
 *
 */
 
#largeBoxTable_Model
{
  width: 725px;
  margin: 13px 0px 0 9px; 
  float: left;
}
 
#largeBoxTable_Model_first
{
  border: none;
  background : transparent url('../images/tableau_header_Bg.png') repeat-x left top;
  height: 35px;
  width: 722px;
  line-height: 30px;
  font-size: 0.75em;
  font-style: bold;
  text-align: left;
  //font-weight: normal;
  //border-bottom: thin solid #ffffff;
  color: #ffffff;
  float: left;
}
.largeBoxTable_Model_0
{
  margin: 0px 0px 0 5px;
  height: 35px; 
  background: transparent ;
  //vertical-align:middle;
  //border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Model_0 p 
{
   vertical-align: middle; 
   //display: inline;
}

.largeBoxTable_Model_lign
{
  width: 723px;
  height: 35px;
  //border-bottom: thin solid #3d4993;
  //border-bottom: thin solid #efefef;
  line-height: 33px;
  font-weight: 100;
  font-size: 0.75em;
  color: black;
  background: transparent ;
  float:left;
}
.largeBoxTable_Model_lign a
{
  color: #2a3556;
  text-aligned:center;
  text-decoration:none;
}

.largeBoxTable_Model_lign_pair
{	
  width: 723px;
  height: 35px;
  background-color: #b8b9c3 ;
  float:left;
}
.largeBoxTable_Model_lign_impair
{
  width: 723px;
  height: 35px;
  background-color: #cacbd5 ;
  float:left;
}
.largeBoxTable_Model_lign_pair:hover, .largeBoxTable_Model_lign_impair:hover
{
  background-color: #9297a8 ;
  color: #ffffff;
}


.largeBoxTable_Model_1
{
  width: 25px;
  height: 35px; 
  background: transparent url('../images/fleche.png') no-repeat center center;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Model_1:hover
{
  background: transparent url('../images/LM_fleche_select.png') no-repeat center center;
}
.largeBoxTable_Model_2
{
  width: 245px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Model_3
{
  width: 195px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Model_4
{
  width: 85px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Model_5
{
  width: 58px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent url('../images/LM_visu.png') no-repeat center center;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Model_6
{
  width: 58px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent url('../images/LM_compute.png') no-repeat center center;
  border-right: thin solid #ffffff;
  float: left;
}

.largeBoxTable_Model_7
{
  width: 25px;
  height: 35px; 
  background: transparent url('../images/croix_suppr.png') no-repeat center center;
  border-right: thin solid #ffffff;
  float: left;
}

/*
 * bouton et placement dans le footer top
 *
 */
#footer_top_1
{
  width: 197px;
  height: 49px;
  float: left;
}
#footer_top_2
{
  width: 270px;
  height: 49px;
  float: left;
  font-weight: normal;
  font-size: 0.75em;
  color: #2a3556;
  vertical-align:middle;
  margin: 0px 0px 0px 30px;
  padding: 20px 0px 0px 0px;
}
#footer_top_2 a
{
  //color: #696969;
  text-decoration: underline ;
}
#footer_top_2 a.page_select
{
  text-decoration: none ;
}
#footer_top_3
{
  width: 443px;
  height: 49px;
  float: left;
  text-align: left;
}
#footer_top_3_boutton_suppr
{
  width: 187px;
  height: 27px;
  background : transparent url('../images/button_supprimer_model.png') no-repeat right top;
  float:right;
  margin:0px 11px 0 0px;
  font-weight: normal;
  font-size: 0.70em;
  color: #ffbf00;
  line-height: 20px;
  text-align: center;
}
#footer_top_3_boutton_suppr a
{
  color: #ffbf00;
  text-decoration: underline ;
}
/*
 * espace des info projets dans le detail d'un projet
 *
 */
#largeBoxInfoProjet
{
  background-color: #f0f0f0;
  width: 722px;
  height: 102px;
  margin: 13px 0px 0 9px;
  font-weight: normal;
  font-size: 0.75em;
  color: #696969;
  float: left;
}
#largeBoxInfoProjet_top_1
{
  width: 208px;
  height: 36px;
  float: left;
  line-height: 30px;
  padding: 0px 0px 0 0px;
  text-align: center;
}
#largeBoxInfoProjet_top_2
{
  width: 306px;
  height: 36px;
  float: left;
  line-height: 30px;
  padding: 0px 0px 0 0px;
  text-align: center;
}
#largeBoxInfoProjet_top_3
{
  width: 208px;
  height: 36px;
  float: left;
  line-height: 30px;
  padding: 0px 0px 0 0px;
  text-align: center;
}
#largeBoxInfoProjet_disque_1
{
  width: 203px;
  height: 18px;
  float: left;
  text-align: right;
}
#largeBoxInfoProjet_disque_2
{
  background: transparent url('../images/greybar.png') no-repeat top left;
  width: 306px;
  height: 18px;
  margin: 0px 0px 0 5px;
  float: left;
}
#largeBoxInfoProjet_disque_3
{
  width: 208px;
  height: 18px;
  font-size: 0.65em;
  line-height: 18px;
  float: left;
  text-align: left;
}
#largeBoxInfoProjet_greenbar_debut
{
  background: transparent url('../images/greenbar_debut.png') no-repeat top left;
  width: 6px;
  height: 18px;
  float: left;
}
#largeBoxInfoProjet_greenbar_milieu
{
  background: transparent url('../images/greenbar_milieu.png') repeat-x left top;
  height: 18px;
  float: left;
}
#largeBoxInfoProjet_greenbar_fin
{
  background: transparent url('../images/greenbar_fin.png') no-repeat top left;
  width: 6px;
  height: 18px;
  float: left;
}

/*
 * bloc pour le contenu d'un projet
 *
 */
#projet_menu
{
  background: transparent url('../images/projet_menu.png') no-repeat top left;
  width: 725px;
  height: 26px;
  padding: 0px 0px 0 0px;
  float: left;
}
#projet_pathbar
{
  background-color: #2a3556;
  width: 722px;
  height: 35px;
  float: left;
}
#projet_pathbar_1
{
  width: 300px;
  height: 35px;
  float: left;
  font-weight: normal;
  font-size: 0.65em;
  color: #ffbf00;
  line-height: 35px;
  margin: 0px 0px 0px 0px;
}
#projet_pathbar_1 a
{
  color: #ffbf00;
  text-decoration: underline ;
}
#projet_pathbar_2
{
  width: 405px;
  height: 35px;
  font-weight: normal;
  font-size: 0.65em;
  color: #ffbf00;
  line-height: 35px;
  text-align: right;
  float: left;
}
#projet_pathbar_2 a
{
  color: #ffbf00;
  text-decoration: underline ;
}

#projet_pathbar_2_vew
{
  width: 405px;
  height: 35px;
  font-weight: normal;
  font-size: 0.65em;
  color: #ffbf00;
  line-height: 35px;
  text-align: right;
  float: left;
}
#projet_pathbar_2_vew a
{
  color: #ffbf00;
  text-decoration: underline ;
}
#projet_pathbar_2_hide
{
  width: 405px;
  height: 35px;
  font-weight: normal;
  font-size: 0.65em;
  color: #ffbf00;
  line-height: 35px;
  text-align: right;
  float: left;
}
#projet_pathbar_2_hide a
{
  color: #ffbf00;
  text-decoration: underline ;
}
#projet_pathbar_filter
{
  background-color: #2a3556;
  width: 722px;
  float: left;
}
#projet_milieu
{
  background: transparent url('../images/projet_milieu.png') repeat-y left top;
  width: 725px;
  float: left;
}
.projetheightmin
{
  height: 270px;
  background: transparent ;
  float: left;
}
#projet_bas
{
  background: transparent url('../images/projet_bas.png') no-repeat top left;
  width: 725px;
  height: 38px;
  float: left;
}
#projet_bas_1
{
  width: 280px;
  height: 38px;
  float: left;
  font-weight: normal;
  font-size: 0.75em;
  color: #696969;
  vertical-align:middle;
  margin: 0px 0px 0px 20px;
  padding: 10px 0px 0px 0px;
}
#projet_bas_1 a
{
  text-decoration: underline ;
}
#projet_bas_2
{
  width: 425px;
  height: 38px;
  float: left;
  text-align: left;
}

/*
 * menu pour le contenu d'un projet
 *
 */

#projet_menu li
{
  list-style-type: none;
  float: left;
  width: 145px;
  height: 26px;
  background: transparent;
  line-height: 26px;
  margin: 0px 0px 0 0px;
  padding: 1px 0px 0 0px;
  text-align: center;
}

#pmModels.selected, #pmTaches.selected, #pmForum.selected, #pmEquipe.selected, #pmDescription.selected
{
  background: transparent url('../images/projet_menu_selected.png') no-repeat left top;
}

#projet_menu li a
{
  font-size: 0.80em;
  font-weight: normal;
  color: #e5e5e5;
  text-decoration: none;
  display: block;
}

#projet_menu li.selected a
{
  color: #2a3556;
}

#projet_menu li a:hover
{
  color: #ffdb00;
}

#projet_menu li.selected a:hover
{
  color: #2a3556;
}
/*
 * filtre pour le contenu des projets
 *
 */
#projet_pathbar_filter_1
{
  width: 230px;
  height: 31px;
  margin: 0px 0px 0px 5px;
  font-weight: normal;
  font-size: 0.65em;
  color: #f0f0f0;
  text-align:right;
  float: left;
}
#projet_pathbar_filter_1 a
{
  font-weight: normal;
  color: #f0f0f0;
  text-decoration: underline;
}
#projet_pathbar_filter_2
{
  width: 270px;
  height: 31px;
  margin: 0px 0px 0px 5px;
  font-weight: normal;
  font-size: 0.65em;
  color: #f0f0f0;
  text-align:right;
  float: left;
}
#projet_pathbar_filter_3
{
  width: 190px;
  height: 31px;
  margin: 0px 0px 0px 5px;
  font-weight: normal;
  font-size: 0.65em;
  color: #f0f0f0;
  text-align:right;
  float: left;
}
#projet_pathbar_filter_1_bouton_jaune
{
  background : transparent url('../images/button_jaune_filtre_tache.png') no-repeat right top;
  width: 230px;
  height: 31px;
  margin: 0px 0px 0px 5px;
  text-align:center;
  font-size: 0.75em;
  line-height:23px;
  float: left;
}
#projet_pathbar_filter_1_bouton_jaune img
{
  vertical-align:top;
  border:none;
  margin:3px 25px 0 0px;
}

#projet_pathbar_filter_1_bouton_jaune a
{
  font-weight: normal;
  color: #2a3556;
  text-decoration: none;
  display: block;
}

#projet_pathbar_filter_1_bouton_jaune a:hover
{
  //font-style:italic;
  //color: #2a3556;
  color: blach;
  
} 
/*
 * tableau pour le contenu des projets
 *
 */
 
#table_projet_in {
	border: thin solid #ffffff;
	border-collapse: collapse;
	width: 719px ;
	margin: 0px 0px 0 2px;
	font-weight: normal;
  	font-size: 0.7em;
}
#table_projet_in th {
	padding: 5px;
	color: #ffffff;
	font-weight: normal;	
}
#table_projet_in td {
	border: thin solid #ffffff;
	border-top-width : 0px;
	border-bottom-width : 0px;
	padding-left: 5px;
}
#table_projet_in tr.first {
	border: none;
	background : transparent url('../images/tableau_header_Bg.png') repeat-x left top;
	height: 35px;
}
#table_projet_in tr.pair {
	border: none;
	background-color: #b8b9c3;
	height: 35px;
}
#table_projet_in tr.impair {
	border: none;
	background-color: #cacbd5;
	height: 35px;
}
#table_projet_in tr:hover 
{
	border: none;
	background-color: #9297a8;
	color: #ffffff;	
}
/*
 * css pour l'onglet modèles
 *
 */
#projet_model_in_1 {
	width: 277px ;
	height: 340px;
	margin: 8px 0px 0 20px;
  	float: left;
}
#projet_model_in_2 {
	background-color: #b8b9c3;
	width: 400px ;
	height: 340px;
	margin: 10px 0px 0 6px;
  	float: left;
}
#table_projet_model_in {
	border: thin solid #ffffff;
	border-collapse: collapse;
	width: 275px ;
	margin: 2px 0px 0 0px;
	font-weight: normal;
  	font-size: 0.75em;
}
#table_projet_model_in tr {
	height: 25px;
} 
#table_projet_model_in td {
	border: thin solid #ffffff;
	border-top-width : 1px;
	border-bottom-width : 0px;
	padding-left: 5px;
}
#table_projet_model_in td.un {
	background-color: #9297a8;
	color: #ffffff;	
	width: 180px ;
} 
#table_projet_model_in td.deux {
	background-color: #b8b9c3;
	width: 95px ;
} 
#projet_model_in_description_top {
	background-color: #9297a8;
	width: 265px ;
	height: 25px;
	margin: 2px 0px 0 0px;
	padding-left: 5px;
	padding-right: 4px;
	line-height: 22px;
	font-weight: normal;
  	font-size: 0.75em;
  	color: #ffffff;
  	float: left;
}
#projet_model_in_description {
	background-color: #b8b9c3;
	width: 265px ;
	height: 133px;
	margin: 2px 0px 0 0px;
	padding-left: 5px;
	padding-right: 4px;
	font-weight: normal;
  	font-size: 0.75em;
  	float: left;
}
#projet_model_bouton_jaune {
  	float: left;
}
#projet_model_bouton_jaune li
{
  list-style-type: none;
  width: 226px;
  height: 33px;
  background: transparent url('../images/button_jaune.png') no-repeat left top;
  line-height: 22px;
  margin: 5px 5px 0 0px;
  padding: 0px 0px 0 0px;
  text-align: center;
  font-weight: normal;
  font-size: 0.80em;
  color: #2a3556;
  float: left;
}
#projet_model_bouton_jaune li img
{
  vertical-align:middle;
  border:none;
  margin:0px 25px 0 0px;
}

#projet_model_bouton_jaune li a
{
  font-weight: normal;
  color: #2a3556;
  text-decoration: none;
  display: block;
}

#projet_model_bouton_jaune li a:hover
{
  //font-style:italic;
  //color: #2a3556;
  color: black;
} 
/*
 * ccs pour l'onglet description du projet
 *
 */
#projet_description_cadre
{
	width: 680px ;
	margin: 10px 0px 0 21px;
  	float: left;
}
 
.top {
	background-color: #9297a8;
	width: 659px ;
	padding : 3px 10px 5px 10px;
	font-weight: normal;
  	font-size: 0.75em;
  	color: #ffffff;
  	float: left;
}
.in {
	background-color: #b8b9c3;
	width: 659px ;
	margin: 1px 0px 0 0px;
	padding : 3px 10px 8px 10px;
	font-weight: normal;
  	font-size: 0.75em;
  	line-height: 15px;
  	float: left;
}
.comment {
	width: 659px ;
	margin: 1px 0px 0 0px;
	padding : 3px 10px 8px 10px;
  	font-size: 0.75em;
  	line-height: 15px;
  	color:#2a3556;
  	text-align: justify;
  	float: left;
}
.edit {
	width: 667px ;
	margin: 10px 0px 0 0px;
	padding : 3px 5px 8px 5px;
	border: thin solid #2a3556;
	font-weight: normal;
  	text-align: left;
  	color:#2a3556;
  	float: left;
}
.poster {
	width: 679px ;
	margin: 2px 0px 0 0px;
	font-weight: normal;
  	float: left;
}
.poster_button {
	background: transparent url('../images/button_poster_comment.png') no-repeat right top;
	width: 86px ;
	height: 21px;
	margin: 0px 0px 0 0px;
	padding : 2px 0px 0px 0px;
	font-weight: normal;
  	color: #2a3556;
  	text-decoration: none;
  	text-align: center;
  	font-size: 0.70em;
  	float: right;
}
.poster_button a:hover
{
  font-style:italic;
  color: #2a3556;
} 
.poster_date {
	width: 100px ;
	height: 15px;
	margin: 0px 0px 0 0px;
	padding : 0px 0px 0px 0px;
	font-weight: normal;
  	text-decoration: none;
  	text-align: left;
  	font-size: 0.80em;
  	float: left;
}
.poster_ligne {
	width: 579px ;
	height: 15px;
  	float: left;
}
/*
 * ccs pour l'onglet détail d'une tache
 *
 */
 
#table_tache_in {
	border: thin solid #ffffff;
	border-collapse: collapse;
	width: 680px ;
	margin: 0px 0px 0 0px;
}
#table_tache_in td {
	border: thin solid #ffffff;
	border-top-width : 0px;
	border-bottom-width : 0px;
	text-align: center;
}
#table_tache_in tr.first {
	border: none;
	background-color: #b8b9c3;
	height: 35px;
	font-weight: 800;
  	font-size: 0.75em;
}
#table_tache_in tr.second {
	border: none;
	background-color: #cacbd5;
	height: 35px;
	color: #2a3556;
	font-weight: normal;
  	font-size: 0.75em;
}
.entete {
	width: 670px ;
	height: 15px;
	margin: 10px 0px 0px 0px;
	padding : 0px 0px 0px 5px;
	font-weight: normal;
  	text-decoration: none;
  	text-align: left;
  	font-size: 0.80em;
  	color: #696969;
  	float: left;
}
textarea#nom_tache {
	width: 667px ;
	height: 20px ;
	margin: 2px 0px 0 0px;
	padding : 0px 5px 0px 5px;
	border: thin solid #2a3556;
	font-weight: normal;
  	text-align: left;
  	color:#2a3556;
  	line-height: 18px;
  	float: left;
  	overflow:auto;
}
textarea#description_tache {
	width: 667px ;
	height: 150px ;
	margin: 2px 0px 0 0px;
	padding : 0px 5px 0px 5px;
	border: thin solid #2a3556;
	font-weight: normal;
  	text-align: left;
  	line-height: 18px;
  	color:#2a3556;
  	float: left;
  	overflow:auto;
}
/*
 * ccs pour l'onglet détail d'un membre
 *
 */
 
#table_membre_in {
	border: none;
	width: 670px ;
	margin: 10px 0px 0 0px;
}
#table_membre_in tr {
	line-height:20px;
}
#table_membre_in td.left {
	border-top-width : 0px;
	border-bottom-width : 0px;
	padding-rigth: 5px;
	text-align: right;
	color: #696969;
	font-weight: normal;
  	font-size: 0.75em;
}
#table_membre_in td.right {
	border-top-width : 0px;
	border-bottom-width : 0px;
	padding-left: 5px;
	text-align: left;
	color: #2a3556;
	font-weight: normal;
  	font-size: 0.75em;
}
textarea#description_membre {
	width: 100% ;
	height: 100px ;
	border: thin solid #2a3556;
	font-weight: normal;
  	text-align: left;
  	line-height: 20px;
  	color:#2a3556;
  	float: left;
  	overflow:auto;
}
.bleu {
	line-height: 20px;
	border: thin solid #2a3556;
  	color:#2a3556;
}
/*
 * ccs pour les post d'un sujet dans le forum
 *
 */
#projet_post_cadre
{
	width: 690px ;
	margin: 10px 0px 0 16px;
  	float: left;
}
.post_first {
	background-color: #cacbd5;
	width: 679px ;
	margin: 2px 0px 0 0px;
	padding: 5px 5px 5px 5px;
  	float: left;
}
.post {
	width: 679px ;
	margin: 2px 0px 0 0px;
	padding: 5px 5px 5px 5px;
  	float: left;
}
.post_date {
	width: 479px ;
	height: 15px;
	line-height:13px;
  	text-align: left;
  	font-size: 0.80em;
  	float: left;
}
.post_button {
	width: 200px ;
	height: 15px;
	line-height:15px;
	text-align: right;
  	float: left;
}
.post_button a {
	color:#2a3556;
	vertical-align:top;
	margin: 7px 0px 0px 0px;
	font-weight: 800;
	font-size: 0.60em;
}
.post_edit {
	border-top:thin solid #2a3556;
	width: 663px ;
	padding: 8px 8px 3px 8px;
	margin: 0px 0px 8px 0px;
	font-weight: normal;
  	text-decoration: none;
  	text-align: justify;
  	font-size: 0.75em;
  	color:#2a3556;
  	float: left;
}
.on {
	display: block;
}
.off {
	display: none;
}
/*
 * ccs pour les wizard
 *
 */
/*
 * wizard création de projet
 *
 */
#NM_wiz_layer
{
	width: 736px ;
	height: 420px ;
	position: absolute;
	z-index: 20;
	margin: 50px 0 0 105px; 
}
#NM_wiz_layer_top
{
	background: transparent url('../images/create_projet_top.png') no-repeat left top;
	width: 736px ;
	height: 27px ;
	text-align: center;
	font-size: 0.80em;
	color: #ffffff;
	line-height:25px;
	
	float: left ;
}
#NM_wiz_layer_milieu
{
	background: transparent url('../images/create_projet_milieu.png') repeat-y left top;
	width: 736px ;
	height: 360px ;
	float: left ;
}
#NM_wiz_layer_bas
{
	background: transparent url('../images/create_projet_bas.png') no-repeat left top;
	width: 736px ;
	height: 36px ;
	float: left ;
}
#NM_create_bouton_jaune
{
	background: transparent url('../images/create_button_jaune.png') no-repeat left top;
	width: 118px ;
	height: 29px ;
	margin: 3px 0 0 5px;
	text-align: center;
	line-height:25px;
	float: left ;
}
#NM_create_bouton_jaune a
{	
  	font-weight: normal;
  	color: #2a3556;
  	text-decoration: none;
  	font-size: 0.80em;
  	display: block;
}

#NM_footer_bouton_precedent
{
  width: 121px;
  height: 32px;
  background: transparent url('../images/NC_footer_bouton_precedent.png') no-repeat left top;
  float: right;
}
#NM_footer_bouton_suivant
{
  width: 121px;
  height: 32px;
  background: transparent url('../images/NC_footer_bouton_suivant.png') no-repeat left top;
  float: right;
}
.NM_footer_top_bouton
{
  font-size: 0.80em;
  font-weight: normal;
  text-align: center;
  line-height: 32px;
  color:#2a3557;
}

/*
 * menu wizard création de model NM
 *
 */ 
 
#NM_wiz_menu
{
  width: 730px;
  height: 27px;
  background: transparent;
  float: left ;
  margin: 5px 0px 0 3px;
}

#NM_PB_page_information, #NM_PB_page_fichier
{
  width: 240px;
  padding-right:0px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  position: absolute;
  font-size: 0.80em;
  font-weight: normal;
  color: #e5e5e5;
  //color:#2a3557;
  text-decoration: none;
  background: transparent url('../images/NM_progressbar_bg_gris.png') no-repeat right top;
  margin: 0px 0px 0 4px;	
}
#NM_PB_page_information.actif, #NM_PB_page_fichier.actif
{
  background: transparent url('../images/NM_progressbar_bg_bleu.png') no-repeat right top;
}
#NM_PB_page_information.actif:hover, #NM_PB_page_fichier.actif:hover
{
  color: #ffdb00;
}
#NM_PB_page_information.select, #NM_PB_page_fichier.select
{
  background: transparent url('../images/NM_progressbar_bg_jaune.png') no-repeat right top;
  color:#2a3557;
}

#NM_PB_page_resume
{
  width: 290px;
  padding-right:0px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  position: absolute;
  font-size: 0.80em;
  font-weight: normal;
  color: #e5e5e5;
  //color:#2a3557;
  text-decoration: none;
  background: transparent url('../images/NM_progressbar_bg_gris_1.png') no-repeat left top;
  margin: 0px 0px 0 4px;	
}
#NM_PB_page_resume.actif
{
  background: transparent url('../images/NM_progressbar_bg_bleu_1.png') no-repeat left top;
}
#NM_PB_page_resume.actif:hover
{
  color: #ffdb00;
}

#NM_PB_page_resume.select
{
  background: transparent url('../images/NM_progressbar_bg_jaune_1.png') no-repeat left top;
  color:#2a3557;
}

/*
 * pages wizard création de model NM
 *
 */ 

.NM_bleu
{
  line-height: 18px;
  padding: 0px 5px 0px 5px;
  text-align: left;
  font-size: 0.80em;
  font-weight: normal;
  //color: #e5e5e5;
  color:#2a3557;
  float:left	
}
.NM_fond_gris
{
  line-height: 13px;
  padding: 10px 5px 15px 5px;
  text-align: left;
  font-size: 0.70em;
  font-weight: normal;
  background-color: #818799 ;
  color: #e5e5e5;
  //color:#2a3557;
  //color:black;
  float:left	
}
.NM_text_1
{
  height:30px; 
  margin:10px 5px 0 0px; 
  line-height: 18px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  text-align:right;
  //border: thin solid #2a3557;
  float:left;
}
.NM_text_1 input[type="text"]
{ 
  width: 80%; 
  float:left;
  //border: none;
}
.NM_text_1 input[type="file"]
{ 
  width: 80%; 
  float:left;
  //border: none;
}
.NM_text_1 select
{ 
  width: 80%; 
  float:left;
  //border: none;
}
.NM_text_1 p
{ 
  font-weight: 100;
  font-size: 1.10em;
  //text-align:left;
  color: #2a3557;
}
.NM_text_2
{
  height:100px; 
  margin:10px 5px 0 0px; 
  line-height: 18px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  text-align:right;
  //border: thin solid #2a3557;
  float:left;
}
.NM_text_2 textarea
{ 
  width: 90%;
  height:80px;  
  float:left;
  font-size: 0.8em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  //border: none;
}


