#prop_bords_is_in.NC_prop_box.on
  .prop_bords_box
    .NC_prop_box_text_2{ :style => "width:400px;" }
      %select#prop_bords_is_in_geometry{ :onChange => "Tableau_bords_for_info_change_geometry()", :style => "width:200px;" }
        %option{ :value => "" }
          Choisir une géométrie
        %option{ :value => "box" }
          Dans une boite
        %option{ :value => "cylinder" }
          Dans un cylindre
        %option{ :value => "sphere" }
          Dans une sphere

  = render :partial => "calculs/NC_etape_CLs/prop_bords_is_in_box"
  = render :partial => "calculs/NC_etape_CLs/prop_bords_is_in_cylinder"
  = render :partial => "calculs/NC_etape_CLs/prop_bords_is_in_sphere"
  
