#prop_bords.off
  .NC_prop_box_titre{ :style => "height:50px" }
    .NC_prop_box_text_2{ :style => "width:600px;" }
      Choisissez un critière pour définir le nouveau bord  
    .NC_prop_box_text_2{ :style => "width:600px;" }
      %select#prop_bords_type{ :onChange => "Tableau_bords_for_info_change_type()", :style => "width:200px;"}
        %option{ :value => "" }
          Choisir un critère
        %option{ :value => "is_in" }
          Dans un volume
        %option{ :value => "is_on" }
          Sur une surface
        /%option{ :value => "has_normal" }
        /  Selon la normale
  .NC_prop_box{ :style => "height:5px;" }

  = render :partial => "calculs/NC_etape_CLs/prop_bords_is_in"
  = render :partial => "calculs/NC_etape_CLs/prop_bords_is_on"
  .NC_prop_box{ :style => "heisght:5px;" }