#Delete_wiz_layer_resultat.Delete_wiz_layer.off
  .Delete_wiz_layer_top
    Suppression d'un calcul
  .Delete_wiz_layer_milieu
    .NM_bleu{ :style => "width: 730px; height: 70px;  margin: 0px 0px 0 3px;" }
    .NM_fond_resume{ :style => "width: 730px; margin: 0px 0px 0 3px;" }
      .NM_text_1{ :style => "width:200px;" }
        Nom du du calcul :
      .NM_text_1{ :style => "width:500px;" }
        %p#resultat_delete_name
      .NM_text_1{ :style => "width:200px;" }
        Description :
      .NM_text_1{ :style => "width:500px; height:100px;" }
        %p#resultat_delete_description
    #Delete_model_pic.on{:style => "width: 450px; margin: 20px 0px 0 213px; float:left;" }
      .wiz_pic_attention
      .NM_bleu{ :style => "width: 300px; height:20px; margin: 25px 0px 25px 20px;" }
        Pour supprimer ce calcul appuyez sur Supprimer. Attention, ce calcul ne pourra être supprimé que s'il a été téléchargé, si c'est un brouillon ou s'il a échoué.

    #Delete_model_pic_wait.off{:style => "width: 300px; margin: 20px 0px 0 213px; float:left;" }
      .wiz_pic_wait
      .NM_bleu{ :style => "width: 200px; height:20px; margin: 25px 0px 25px 20px;" }
        Calcul en cours de suppression

    #Delete_model_pic_ok.off{:style => "width: 300px; margin: 20px 0px 0 213px; float:left;" }
      .wiz_pic_ok
      .NM_bleu{ :style => "width: 200px; height:20px; margin: 25px 0px 25px 20px;" }
        Calcul Supprimé !

    #Delete_model_pic_failed.off{:style => "width: 450px; margin: 20px 0px 0 213px; float:left;" }
      .wiz_pic_attention
      .NM_bleu{ :style => "width: 300px; height:20px; margin: 25px 0px 25px 20px;" }
        Ce calcul n'a pas pu être supprimé !

  .Delete_wiz_layer_bas
    #Delete_wiz_annul.on.left
      %a{ :style => "cursor: pointer;", :onclick => "displayDeleteResultat('off')" } 
        .New_create_bouton_jaune
          Annuler

    #Delete_wiz_delete.off.right
      %a{ :style => "cursor: pointer;", :onclick => "valid_delete_resultat()"  }
        .Delete_footer_bouton_suivant
          Supprimer

    #Delete_wiz_close.on.right
      %a{ :style => "cursor: pointer;", :onclick => "displayDeleteResultat('off')" } 
        .New_create_bouton_jaune
          fermer