-# encoding: utf-8 
-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_model
        = link_to "Retour à la liste des utilisateurs", :controller => "sc_admin_user" 
-content_for :workspace_content do
  .grey
    = render "form"