

<div id="leftBox">
	<h2>Ajouts</h2>
</div>
<div id="leftBoxcontent">	
	<table id="tableleftBox">
		<tr>
			<td STYLE="width:22px ;"> <img src="/images/LM_pic_new_model.png"> </td>
			<td> <a>Déposer un modèle</a> </td>
		</tr>
		<tr>
			<td STYLE="width:22px ;"> <img src="/images/LM_pic_new_mat.png"> </td>
			<td> <a>Nouveau Matériau</a> </td>
		</tr>
		<tr>
			<td STYLE="width:22px ;"> <img src="/images/LM_pic_new_liaison.png"> </td>
			<td> <a>Nouvelle liaison</a> </td>
		</tr>
	</table>
</div>
<div id="leftBoxfoot">
</div>