#leftBox
  %h2
    Racourcis
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/picto_profil.png" }
      %td
        %a{ :href => "/accueil" }
          Acceuil
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_liste_compte.png" }
      %td
        %a{ :href => "/company" }
          Ma société
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/LM_pic_model.png" }
      %td
        %a{ :href => "/modele" }
          Mes modèles
#leftBoxfoot
