#leftBox
  %h2
    Racourcis
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/LM_pic_model.png" }
      %td
        %a{ :href => "/modele" }
          Liste des modèles
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/LM_pic_materiau.png" }
      %td
        %a{ :href => "/material" }
          Bibliothèque matériaux
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/LM_pic_liaison.png" }
      %td
        %a{ :href => "/link" }
          Bibliothèque liaisons
#leftBoxfoot
