-# encoding: utf-8 
.left_submenu
  %h2.grey
    Racourcis
  %ul
    %li.picto_profil
      = link_to 'Accueil', :controller => 'home'
    %li.manage_pic_liste_compte
      = link_to "Ma société", workspaces_path
    %li.LM_pic_model
      %a{ :href => "/modele" }
        Mes modèles
