.left_submenu
  %h2
    Menu
  %ul
    %li.LM_pic_model
      = link_to 'Liste des modèles' #, company_modeles_path(current_user.company)
    %li.LM_pic_materiau
      = link_to 'Bibliothèque matériaux', company_materials_path(current_user.company)
    %li.LM_pic_liaison
      = link_to 'Bibliothèque liaisons', company_links_path(current_user.company)
