#leftBox
  %h2
    Racourcis
#leftBoxcontent
  #leftBoxLigne
    #leftBoxCase{ :style => "width:22px ;" }
      %img{ :src => "/images/manage_pic_liste_membre.png" }
    #leftBoxCase{ :style => "width:120px ;" }
      %a{ :href => "/users" }
        Liste des membres
  #leftBoxLigne1
    #leftBoxCase{ :style => "width:22px ;" }
      %img{ :src => "/images/manage_pic_nouveau_membre.png" }
    #leftBoxCase{ :style => "width:120px ;" }
      %a
        ajouter un membre
#leftBoxfoot
