-# encoding: utf-8 
.left_submenu
  %h2
    Racourcis
  %ul
    %li.manage_pic_liste_compte
      = link_to "Ma société", workspaces_path    
    %li.LM_pic_model
      %a{ :href => "/modele" }
        Mes modèles
    %li.manage_pic_liste_factures
      = link_to 'Forum des utilisateurs', workspace_bills_path(current_workspace_member.workspace)
        
