#leftBox
  %h2
    Racourcis
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_liste_compte.png" }
      %td
        = link_to "Ma société", companies_path
          
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/LM_pic_model.png" }
      %td
        %a{ :href => "/modele" }
          Mes modèles
    /
      %tr
        %td{ :style => "width:22px ;" }
          %img{ :src => "/images/manage_pic_liste_factures.png" }
        %td
          %a{ :href => "/factures" }
            Forum des utilisateurs
