.left_submenu
  %h2
    Menu
  %ul
    %li.LM_pic_model
      %a{ :href => "/modele" }
        Liste des modèles
    %li.LM_pic_materiau
      %a{ :href => "/material" }
        Bibliothèque matériaux
    %li.LM_pic_liaison
      %a{ :href => "/link" }
        Bibliothèque liaisons
