#leftBox
  %h2
    Menu
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_liste_compte.png" }
      %td
        = link_to "Tableau de bord", companies_path
          
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_liste_membre.png" }
      %td
        = link_to 'Liste des membres', members_path
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_liste_factures.png" }
      %td
        = link_to 'Liste des factures'
        -#bills_path
