

<div id="leftBox">
	<h2>Racourcis</h2>
</div>
<div id="leftBoxcontent">	
	<table id="tableleftBox">
		<tr>
			<td STYLE="width:22px ;"> <img src="/images/LM_pic_model.png"> </td>
			<td> <a>Liste des modèles</a> </td>
		</tr>
		<tr>
			<td STYLE="width:22px ;"> <img src="/images/LM_pic_materiau.png"> </td>
			<td> <a>Bibliothèque matériaux</a> </td>
		</tr>
		<tr>
			<td STYLE="width:22px ;"> <img src="/images/LM_pic_liaison.png"> </td>
			<td> <a>Bibliothèque liaisons</a> </td>
		</tr>
	</table>
</div>
<div id="leftBoxfoot">
</div>