.left_submenu
  %h2
    Menu
  %ul
    %li.manage_pic_liste_compte
      = link_to "Tableau de bord", company_path(current_workspace_member.company)
    %li.manage_pic_liste_membre
      = link_to 'Liste des membres', company_members_path(current_workspace_member.company)
    %li.manage_pic_liste_factures
      = link_to 'Liste des factures', company_bills_path(current_workspace_member.company)

