#leftBox
  %h2
    Racourcis
#leftBoxcontent
  #leftBoxLigne
    #leftBoxCase{ :style => "width:22px ;" }
      %img{ :src => "/images/manage_pic_liste_compte.png" }
    #leftBoxCase{ :style => "width:120px ;" }
      %a{ :href => "/company" }
        Liste des comptes
  #leftBoxLigne1
    #leftBoxCase{ :style => "width:25px ;" }
    #leftBoxCase{ :style => "width:22px ;" }
      %img{ :src => "/images/manage_pic_compte_memoire.png" }
    #leftBoxCase{ :style => "width:100px ;" }
      %a
        Abonnement
  #leftBoxLigne1
    #leftBoxCase{ :style => "width:25px ;" }
    #leftBoxCase{ :style => "width:22px ;" }
      %img{ :src => "/images/manage_pic_compte_abonnement.png" }
    #leftBoxCase{ :style => "width:100px ;" }
      %a
        Calcul
  #leftBoxLigne
    #leftBoxCase{ :style => "width:22px ;" }
      %img{ :src => "/images/manage_pic_liste_factures.png" }
    #leftBoxCase{ :style => "width:120px ;" }
      %a
        Liste des factures
#leftBoxfoot
