/* reset default style */
body, div, h1, h2, h3, p, ul, li
{
  margin: 0;
  padding: 0;
  position: relative;
}

div.clearline
{
  clear: both;
}

/* 
 * Mise en page globale du site
 * Elements : body, conteneur, header, content, footer
 *
 */

body
{
  background-color: #f8f8f8;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: black;
  line-height: 1;
  text-align: center;
  margin-top: 10px;
}

#conteneur
{
  background: transparent;
  width: 946px;
  margin: 0 auto;
}

/* header ---------------------  */ 
#header_top
{
  background: transparent url('../images/header_bg.png') repeat-x left top;
  width: 940px;
  height: 83px;
  text-align: left;
  float: left;
}
#path_bar
{
  background: transparent url('../images/path_bar.png') no-repeat left top;
  width: 945px;
  height: 27px;
  float: left;
}
#path_bar_1
{
  width: 42px;
  height: 27px;
  float: left;
}
#path_bar_2
{
  width: 900px;
  height: 27px;
  line-height: 29px;
  text-align: left;
  font-size: 0.5em;
  vertical-align:middle;
  float: left;
}

/* contenu ---------------------  */ 
#content
{
  width: 945px;
  text-align: left;
  background: transparent url('../images/conteneur_milieu.png') repeat-y left top;
  float: left;
 }
.black
{ 
	position: absolute;
	z-index: 10;
	width:940px ;
	height:100% ;
	background-color: black;
	filter: Alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: 0.50;
	opacity: .50;
}
#contentleft
{
  width: 197px;
  text-align: left;
  background: transparent ;
  float: left;
}
#contentright
{
  width: 745px;
  text-align: left;
  background: transparent;
  float: left;
}
.contentheightmin
{
  height: 497px;
  background: transparent ;
  float: left;
}


/* footer ---------------------  */
#footer_top
{
  width: 945px;
  height: 49px;
  text-align: left;
  background: transparent url('../images/footer_top.png') no-repeat left top;
  float: left;
}
#footer_top_void
{
  width: 945px;
  height: 49px;
  text-align: left;
  background: transparent url('../images/footer_top_void.png') no-repeat left top;
  float: left;
}
#black_footer_top.black
{ 
	position: absolute;
	z-index: 10;
	width:945px ;
	height:49px ;
	background: transparent url('../images/black_footer_top.png') no-repeat top left;
	filter: Alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: 0.50;
	opacity: .50;
}
#footer
{
  position: relative;
  background: transparent url('../images/footer.png') no-repeat top left;
  height: 31px;
  width: 945px;
  float: left;
}
#black_footer.black
{ 
	position: absolute;
	z-index: 10;
	width:945px ;
	height:31px ;
	background: transparent url('../images/black_footer.png') no-repeat top left;
	filter: Alpha(opacity=50);
	-moz-opacity: .50;
	-khtml-opacity: 0.50;
	opacity: .50;
}

#footer p, #footer a
{
  color: #C8C8C8;
  text-decoration: none;
  line-height: 20px;
  text-align: left;
  font-size: 0.6em;
  margin-left: 12px;
  float: left;
}

#footer a
{
  position: absolute;
  right: 18px;
  text-decoration: underline;
}

#footer a:hover
{
  text-decoration: none;
}
/*
 * Css pour la société et l'identité de l'utilisateur
 *
 */
#header_top_logo
{
  background: transparent url('../images/header_logo.png') no-repeat top left;
  width: 280px;
  padding : 10px 0px 0 0px;
  height: 46px;
  text-align: left;
  float: left;
}
#header_top_societe
{
  width: 200px;
  height: 46px;
  text-align: right;
  padding : 10px 0px 0 0px;
  margin : 0px 10px 0 0px;
  color: #e5e5e5;
  font-size: 0.80em;
  font-weight: normal;
  float: right;
}
#header_top_temp
{
  width: 10px;
  height: 46px;
  background: transparent url('../images/header_bg_separateur.png') no-repeat top left;
  float: right;
}
#header_top_user
{
  width: 125px;
  height: 46px;
  text-align: right;
  padding : 10px 0px 0 0px;
  color: #e5e5e5;
  font-size: 0.80em;
  font-weight: normal;
  float: right;
}
#header_top_cadena
{
  width: 43px;
  height: 46px;
  padding : 10px 0px 0 0px;
  margin : 0px 10px 0 0px;
  background: transparent url('../images/header_cadena.png') no-repeat top left;
  float: right;
}

/*
 * Css pour le menu
 *
 */

#menu
{
  width: 550px;
  height: 35px;
  background: transparent;
  float: left ;
  margin: 0px 0px 0 1px;
}

#menu li
{
  list-style-type: none;
  float: left;
  width: 125px;
  height: 25px;
  background: transparent url('../images/header_menu.png') no-repeat left top;
  line-height: 15px;
  margin: 0px 0px 0 0px;
  padding: 5px 0px 0 0px;
  text-align: center;
}

#menu li.selected
{
  background: transparent url('../images/header_menu_selected.png') no-repeat left top;
}

#menu li a
{
  font-size: 0.80em;
  font-weight: normal;
  color: #e5e5e5;
  text-decoration: none;
  display: block;
}

#menu li.selected a
{
  color: #2a3556;
}

#menu li a:hover
{
  color: #ffdb00;
}

#menu li.selected a:hover
{
  color: #2a3556;
}


/*
 * Boite des racourcis leftbox ------------------------------------
 *
 */
#leftBox
{
  background: transparent url('../images/left_box_header_Bg.png') no-repeat top left;
  width: 197px;
  margin: 0px 0px 0 0;
  float: left;
}

#leftBox h2
{
  width: 197px;
  height: 19px;
  font-weight: normal;
  font-size: 0.8em;
  color: black;
  padding: 10px 0 0 0px;
  text-align: center;
}

#leftBoxcontent
{
  background: transparent url('../images/left_box_side_Bg.png') repeat-y left top;
  width: 197px;
  float: left;
}

#tableleftBox
{
  width: 177px;
  margin: 3px 0px 0px 15px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  border: none;
  border-collapse: collapse;
}
#tableleftBox tr
{
  height: 20px;
}
#tableleftBox tr a
{
  text-decoration: underline ;
}

#leftBoxLigne
{
  width: 177px;
  height: 20px;
  margin: 10px 0px 0px 15px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  float:left;
}
#leftBoxLigne1
{
  width: 177px;
  height: 20px;
  margin: 0px 0px 0px 15px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  float:left;
}

#leftBoxCase
{
  height: 20px;
  font-weight: 100;
  //font-size: 0.75em;
  line-height: 16px;
  color: #696969;
  float:left;
}
#leftBoxCase a
{
  text-decoration: underline ;
}


#leftBoxfoot
{
  background: transparent url('../images/left_box_bottom_Bg.png') no-repeat top left;
  width: 197px;
  height: 15px;
  float: left
}


/*
 * Boite centrale largebox ------------------------------------
 *
 */

#largeBox
{
  background: transparent url('../images/large_box_header_Bg.png') no-repeat top left;
  width: 743px;
  margin: 0px 0px 0 0;
  float: left
}

#largeBox h2
{
  width: 743px;
  height: 19px;
  font-weight: normal;
  font-size: 0.8em;
  color: black;
  padding: 10px 0 0 0px;
  text-align: center
}
#largeBoxcontent
{
  background: transparent url('../images/large_box_side_Bg.png') repeat-y left top;
  width: 743px;
  margin: 0px 0px 0 0;
  float: left
}
#largeBoxcontent1
{
  background: transparent;
  border: thin solid #696969;
  border-top: none;
  width: 732px;
  padding: 0px 0px 10px 0px;
  margin: 0px 0px 10px 3px;
  float: left
}
/*
 * espace des filtres
 *
 */
#largeBoxfilter
{
  background-color: #f0f0f0;
  width: 722px;
  height: 120px;
  margin: 5px 0px 0 9px;
  font-weight: normal;
  font-size: 0.75em;
  color: #696969;
  float: left;
  text-align: justify;
}
#largeBoxfilter_1
{
  width: 240px;
  height: 110px;
  margin: 0px 0px 0 25px;
  float: left;
  line-height: 25px;
}
#largeBoxfilter_2
{
  width: 420px;
  height: 60px;
  margin: 0px 0px 0 35px;
  line-height: 23px;
  float: left;
}

.largeBoxFilter1
{
  //width: 230px;
  height: 24px;
  margin: 5px 0px 0px 5px;
  font-weight: normal;
  text-align:left;
  float: left;
}
.largeBoxFilter2
{
  //width: 230px;
  height: 24px;
  margin: 5px 0px 0px 5px;
  font-weight: normal;
  text-align:left;
  float: left;
}
.largeBoxFilter3
{
  //width: 230px;
  height: 25px;
  margin: 0px 35px 0px 5px;
  font-weight: normal;
  text-align:right;
  float: right;
}
.largeBoxFilter1 input[type="text"]
{ 
  width: 90%; 
  float:left;
  border: thin solid #2a3556;
}

.largeBoxFilter2 input[type="text"]
{ 
  width: 90%; 
  float:right;
  border: thin solid #2a3556;
}
.largeBoxFilterBoutonJaune
{
  width: 232px;
  height: 32px;
  margin: 0px 30px 0 0px;
  line-height: 32px;
  color: #2a3556;
  background: transparent url('../images/filter_button_jaune.png') no-repeat right top;
  float:right;
}
.largeBoxFilterBoutonJaune img
{
  vertical-align:middle;
  border:none;
  margin:0px 25px 0 15px;
}


/*
 * bouton et placement dans le footer top
 *
 */
#footer_top_1
{
  width: 197px;
  height: 49px;
  float: left;
}
#footer_top_2
{
  width: 270px;
  height: 49px;
  float: left;
  font-weight: normal;
  font-size: 0.75em;
  color: #2a3556;
  vertical-align:middle;
  margin: 0px 0px 0px 30px;
  padding: 20px 0px 0px 0px;
}
#footer_top_2 a
{
  //color: #696969;
  text-decoration: underline ;
}
#footer_top_2 a.page_select
{
  text-decoration: none ;
}
#footer_top_3
{
  width: 443px;
  height: 49px;
  float: left;
  text-align: left;
}
#footer_top_3_boutton_suppr
{
  width: 187px;
  height: 27px;
  background : transparent url('../images/button_supprimer_model.png') no-repeat right top;
  float:right;
  margin:0px 11px 0 0px;
  font-weight: normal;
  font-size: 0.70em;
  color: #ffbf00;
  line-height: 20px;
  text-align: center;
}
#footer_top_3_boutton_suppr a
{
  color: #ffbf00;
  text-decoration: underline ;
}

#model_bouton_jaune {
  	float: left;
}
#model_bouton_jaune li
{
  list-style-type: none;
  width: 226px;
  height: 33px;
  background: transparent url('../images/button_jaune.png') no-repeat left top;
  line-height: 22px;
  margin: 5px 5px 0 0px;
  padding: 0px 0px 0 0px;
  text-align: center;
  font-weight: normal;
  font-size: 0.80em;
  color: #2a3556;
  float: left;
}
#model_bouton_jaune li img
{
  vertical-align:middle;
  border:none;
  margin:0px 25px 0 0px;
}

#model_bouton_jaune li a
{
  font-weight: normal;
  color: #2a3556;
  text-decoration: none;
  display: block;
}

#model_bouton_jaune li a:hover
{
  //font-style:italic;
  //color: #2a3556;
  color: black;
} 

.on {
	display: block;
}
.off {
	display: none;
}
.textred
 {
	color: red;
}
/*
 * ccs pour les wizard
 *
 */
/*
 * wizard création de model
 *
 */
#New_wiz_layer
{
	width: 736px ;
	height: 420px ;
	position: absolute;
	z-index: 20;
	margin: 50px 0 0 105px; 
}
#New_wiz_layer_top
{
	background: transparent url('../images/create_projet_top.png') no-repeat left top;
	width: 736px ;
	height: 27px ;
	text-align: center;
	font-size: 0.80em;
	color: #ffffff;
	line-height:25px;
	
	float: left ;
}
#New_wiz_layer_milieu
{
	background: transparent url('../images/create_projet_milieu.png') repeat-y left top;
	width: 736px ;
	height: 360px ;
	float: left ;
}
#New_wiz_layer_bas
{
	background: transparent url('../images/create_projet_bas.png') no-repeat left top;
	width: 736px ;
	height: 36px ;
	float: left ;
}
.New_create_bouton_jaune
{
	background: transparent url('../images/create_button_jaune.png') no-repeat left top;
	width: 118px ;
	height: 29px ;
	margin: 3px 0 0 5px;
	color: #2a3556;
	text-decoration: none;
	text-align: center;
	font-size: 0.80em;
	line-height:25px;
	float: left ;
}
.New_create_bouton_jaune a
{
	font-weight: normal;
	color: #2a3556;
	text-decoration: none;
	font-size: 0.80em;
	display: block;
}

.New_footer_bouton_precedent
{
  width: 121px;
  height: 32px;
  background: transparent url('../images/NC_footer_bouton_precedent.png') no-repeat left top;
  float: right;
}
.New_footer_bouton_suivant
{
  width: 121px;
  height: 32px;
  background: transparent url('../images/NC_footer_bouton_suivant.png') no-repeat left top;
  float: right;
}
.New_footer_top_bouton
{
  font-size: 0.80em;
  font-weight: normal;
  text-align: center;
  line-height: 32px;
  color:#2a3557;
}
.wiz_pic_ok
{
  width: 70px;
  height: 70px;
  background: transparent url('../images/wizar_pic_ok.png') no-repeat center center;
  float: left;
}
.ProgressBar 
{ 
  width: 100px; 
  padding: 0; 
  border: 1px solid black; 
  margin-right: 1em; 
  height:.75em; 
  margin-left:1em; 
  display:-moz-inline-stack; 
  display:inline-block; 
  zoom:1; 
  //display:inline;
}
.ProgressBar DIV 
{ 
  background-color: Green; 
  font-size: 1pt; 
  height:100%; 
  float:left; 
}
.asyncUploader OBJECT 
{ 
  position: relative; 
  top: 5px; 
  left: 10px; 
}

/*
 * pages wizard css des textes
 *
 */ 

.NM_bleu
{
  line-height: 18px;
  padding: 0px 5px 0px 5px;
  text-align: left;
  font-size: 0.80em;
  font-weight: normal;
  //color: #e5e5e5;
  color:#2a3557;
  float:left	
}
.page_select
{
  text-decoration: underline ;
}
.NM_fond_gris
{
  line-height: 13px;
  padding: 10px 5px 15px 5px;
  text-align: left;
  font-size: 0.70em;
  font-weight: normal;
  background-color: #818799 ;
  color: #e5e5e5;
  //color:#2a3557;
  //color:black;
  float:left	
}
.NM_fond_resume
{
  padding: 0px 0px 0px 0px; 
  background-color: #f0f0f0 ;
  float:left	
}
.NM_text_1
{
  height:30px; 
  margin:5px 5px 0 5px; 
  line-height: 18px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  text-align:right;
  //border: thin solid #2a3557;
  float:left;
}
.NM_text_1 input[type="text"]
{ 
  width: 80%; 
  float:left;
  //border: none;
}
.NM_text_1 input[type="file"]
{ 
  width: 80%; 
  float:left;
  //border: none;
}
.NM_text_1 select
{ 
  width: 80%; 
  float:left;
  //border: none;
}
.NM_text_1 p
{ 
  font-weight: 100;
  font-size: 1.10em;
  text-align:left;
  color: #2a3557;
}
.NM_text_1 textarea
{ 
  width: 80%;
  height: 80%;
  float:left;
  font-size: 0.9em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  //border: none;
}
.NM_text_2
{
  height:100px; 
  margin:10px 5px 0 0px; 
  line-height: 18px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  text-align:right;
  //border: thin solid #2a3557;
  float:left;
}
.NM_text_2 textarea
{ 
  width: 90%;
  height:80px;  
  float:left;
  font-size: 0.8em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  //border: none;
}

.NM_text_3
{
  height:20px; 
  margin:5px 5px 0 5px; 
  line-height: 18px;
  font-weight: 100;
  font-size: 0.75em;
  color: #696969;
  text-align:right;
  float:left;
}
.NM_text_3 p
{ 
  font-weight: 100;
  font-size: 1.10em;
  text-align:left;
  color: #2a3557;
}



/*
 * cadre pour les details model, membres...
 *
 */
 
.DetailCadre
{ 
  background-color: #f0f0f0;
  width: 720px;
  //height: 420px;
  margin: 5px 0px 0 9px;
  font-weight: normal;
  //font-size: 0.75em;
  border: thin solid #2a3556;
  float: left;
}
.DetailCadreTitre {
  width: 710px ;
  height: 20;
  margin: 5px 0px 0 5px;
  text-align: center;
  color: #2a3556;
  font-size: 1em;
  text-decoration: underline;
  float: left;
}
.DetailFermeture
{ 
  width: 723px;
  height: 28px;
  margin: 0px 0px 0 9px;
  float: left;
}
.DetailTextFermeture
{ 
  background: transparent url('../images/button_supprimer_model.png') no-repeat top right;
  width: 187px;
  height: 28px;
  text-align: center;
  color: #ffffff;
  line-height: 25px;
  font-size: 0.75em;
  float: right;
}

/*
 * menu wizard création de model NM
 *
 */ 
 
#NM_wiz_menu
{
  width: 730px;
  height: 27px;
  background: transparent;
  float: left ;
  margin: 5px 0px 0 3px;
}

#NM_PB_page_information, #NM_PB_page_fichier
{
  width: 240px;
  padding-right:0px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  position: absolute;
  font-size: 0.80em;
  font-weight: normal;
  color: #e5e5e5;
  //color:#2a3557;
  text-decoration: none;
  background: transparent url('../images/NM_progressbar_bg_gris.png') no-repeat right top;
  margin: 0px 0px 0 4px;	
}
#NM_PB_page_information.actif, #NM_PB_page_fichier.actif
{
  background: transparent url('../images/NM_progressbar_bg_bleu.png') no-repeat right top;
}
#NM_PB_page_information.actif:hover, #NM_PB_page_fichier.actif:hover
{
  color: #ffdb00;
}
#NM_PB_page_information.select, #NM_PB_page_fichier.select
{
  background: transparent url('../images/NM_progressbar_bg_jaune.png') no-repeat right top;
  color:#2a3557;
}

#NM_PB_page_resume
{
  width: 290px;
  padding-right:0px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  position: absolute;
  font-size: 0.80em;
  font-weight: normal;
  color: #e5e5e5;
  //color:#2a3557;
  text-decoration: none;
  background: transparent url('../images/NM_progressbar_bg_gris_1.png') no-repeat left top;
  margin: 0px 0px 0 4px;	
}
#NM_PB_page_resume.actif
{
  background: transparent url('../images/NM_progressbar_bg_bleu_1.png') no-repeat left top;
}
#NM_PB_page_resume.actif:hover
{
  color: #ffdb00;
}

#NM_PB_page_resume.select
{
  background: transparent url('../images/NM_progressbar_bg_jaune_1.png') no-repeat left top;
  color:#2a3557;
}




/*
 * tableau pour les listes des wizard new
 *
 */
 
.newBoxTable
{
  height: 230px;
  width: 700px;
  margin: 10px 0px 0 19px; 
  float: left;
}
 
.newBoxTable_first
{
  border: none;
  background : transparent url('../images/tableau_header_Bg.png') repeat-x left center;
  height: 25px;
  width: 697px;
  line-height: 23px;
  font-size: 0.75em;
  font-style: bold;
  text-align: left;
  //font-weight: normal;
  //border-bottom: thin solid #ffffff;
  color: #ffffff;
  float: left;
}
.newBoxTable_0
{
  margin: 0px 0px 0 5px;
  height: 25px; 
  background: transparent ;
  //vertical-align:middle;
  //border-right: thin solid #ffffff;
  float: left;
}
.newBoxTable_0 p 
{
   vertical-align: middle; 
   //display: inline;
}

.newBoxTable_lign
{
  width: 698px;
  height: 25px;
  //border-bottom: thin solid #3d4993;
  //border-bottom: thin solid #efefef;
  line-height: 23px;
  font-weight: 100;
  font-size: 0.75em;
  color: black;
  background: transparent ;
  float:left;
}
.newBoxTable_lign a
{
  color: #2a3556;
  text-aligned:center;
  text-decoration:none;
}

.newBoxTable_lign_pair
{	
  width: 698px;
  height: 25px;
  background-color: #cacbd5;
  float:left;
}
.newBoxTable_lign_impair
{
  width: 698px;
  height: 25px;
  background-color: #f0f0f0 ;
  float:left;
}
.newBoxTable_lign_pair:hover, .newBoxTable_lign_impair:hover
{
  background-color: #9297a8 ;
  color: #ffffff;
}
.newBoxTable_1
{
  height: 25px; 
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.newBoxTable_2
{
  height: 25px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.newBoxTable_3
{
  //width: 70px;
  height: 25px; 
  margin: 0px 0px 0 2px;
  background: transparent ;
  float: left;
}



/*
 * tableau pour les listes dans les pages company et acceuil
 *
 */
 
.contentBoxTable
{
  //height: 230px;
  width: 720px;
  margin: 1px 0px 0 0px; 
  float: left;
}
 
.contentBoxTable_first
{
  border: none;
  background : transparent url('../images/tableau_header_Bg.png') repeat-x left center;
  height: 25px;
  width: 720px;
  line-height: 23px;
  font-size: 0.75em;
  font-style: bold;
  text-align: left;
  //font-weight: normal;
  //border-bottom: thin solid #ffffff;
  color: #ffffff;
  float: left;
}
.contentBoxTable_0
{
  margin: 0px 0px 0 5px;
  height: 25px; 
  background: transparent ;
  float: left;
}
.contentBoxTable_0 p 
{
   vertical-align: middle; 
   //display: inline;
}

.contentBoxTable_lign
{
  width: 720px;
  height: 25px;
  //border-bottom: thin solid #3d4993;
  //border-bottom: thin solid #efefef;
  line-height: 23px;
  font-weight: 100;
  font-size: 0.75em;
  color: black;
  background: transparent ;
  float:left;
}
.contentBoxTable_lign a
{
  color: #2a3556;
  text-aligned:center;
  text-decoration:none;
}

.contentBoxTable_lign_pair
{	
  width: 720px;
  height: 25px;
  background-color: #cacbd5;
  float:left;
}
.contentBoxTable_lign_impair
{
  width: 720px;
  height: 25px;
  background-color: #f0f0f0 ;
  float:left;
}
.contentBoxTable_lign_pair:hover, .contentBoxTable_lign_impair:hover
{
  background-color: #9297a8 ;
  color: #ffffff;
}
.contentBoxTable_fleche
{
  width: 25px;
  height: 25px; 
  background: transparent url('../images/fleche.png') no-repeat center center;
  border-right: thin solid #ffffff;
  float: left;
}
.contentBoxTable_fleche:hover
{
  background: transparent url('../images/LM_fleche_select.png') no-repeat center center;
}
.contentBoxTable_1
{
  height: 25px; 
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.contentBoxTable_2
{
  height: 25px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.contentBoxTable_3
{
  height: 25px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  float: left;
}
.contentBoxTable_4
{
  height: 25px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  float: left;
}


