/*
 * tableau pour la liste des modeles
 *
 */
 
#largeBoxTable_Link
{
  width: 725px;
  margin: 13px 0px 0 9px; 
  float: left;
}
 
#largeBoxTable_Link_first
{
  border: none;
  background : transparent url('../images/tableau_header_Bg.png') repeat-x left top;
  height: 35px;
  width: 722px;
  line-height: 30px;
  font-size: 0.75em;
  font-style: bold;
  text-align: left;
  //font-weight: normal;
  //border-bottom: thin solid #ffffff;
  color: #ffffff;
  float: left;
}
.largeBoxTable_Link_0
{
  margin: 0px 0px 0 5px;
  height: 35px; 
  background: transparent ;
  //vertical-align:middle;
  //border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Link_0 p 
{
   vertical-align: middle; 
   //display: inline;
}

.largeBoxTable_Link_lign
{
  width: 723px;
  height: 35px;
  //border-bottom: thin solid #3d4993;
  //border-bottom: thin solid #efefef;
  line-height: 33px;
  font-weight: 100;
  font-size: 0.75em;
  color: black;
  background: transparent ;
  float:left;
}
.largeBoxTable_Link_lign a
{
  color: #2a3556;
  text-aligned:center;
  text-decoration:none;
}

.largeBoxTable_Link_lign_pair
{	
  width: 723px;
  height: 35px;
  background-color: #b8b9c3 ;
  float:left;
}
.largeBoxTable_Link_lign_impair
{
  width: 723px;
  height: 35px;
  background-color: #cacbd5 ;
  float:left;
}
.largeBoxTable_Link_lign_pair:hover, .largeBoxTable_Link_lign_impair:hover
{
  background-color: #9297a8 ;
  color: #ffffff;
}


.largeBoxTable_Link_1
{
  width: 25px;
  height: 35px; 
  background: transparent url('../images/fleche.png') no-repeat center center;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Link_1:hover
{
  background: transparent url('../images/LM_fleche_select.png') no-repeat center center;
}
.largeBoxTable_Link_2
{
  width: 245px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Link_3
{
  width: 199px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Link_4
{
  width: 100px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}
.largeBoxTable_Link_5
{
  width: 103px;
  height: 35px; 
  margin: 0px 0px 0 5px;
  background: transparent ;
  border-right: thin solid #ffffff;
  float: left;
}

.largeBoxTable_Link_6
{
  width: 25px;
  height: 35px; 
  background: transparent url('../images/croix_suppr.png') no-repeat center center;
  border-right: thin solid #ffffff;
  float: left;
}