header {
  clear: both;
  margin-left: 0%;
  margin-right: 0%;
  /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4551aa), color-stop(100%, #2b3657));
  background-image: -webkit-linear-gradient(#4551aa, #2b3657);
  background-image: -moz-linear-gradient(#4551aa, #2b3657);
  background-image: -o-linear-gradient(#4551aa, #2b3657);
  background-image: -ms-linear-gradient(#4551aa, #2b3657);
  background-image: linear-gradient(#4551aa, #2b3657);*/
  //background: #262626;
  background: #262626 url("/images/logo_issim.png") no-repeat center left;
  min-width: 100%;
  height: 30px;
  display: block;
  font-family: Helvetica, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 30px;
  color: #e6e6e6;
  //border-bottom: 1px solid #262626;
  border-bottom: 1px solid #969696;
}
/* line 60, ../../app/stylesheets/partials/_header.sass */
header .container {
  /*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4551aa), color-stop(100%, #2b3657));
  background-image: -webkit-linear-gradient(#4551aa, #2b3657);
  background-image: -moz-linear-gradient(#4551aa, #2b3657);
  background-image: -o-linear-gradient(#4551aa, #2b3657);
  background-image: -ms-linear-gradient(#4551aa, #2b3657);
  background-image: linear-gradient(#4551aa, #2b3657);*/
  //background: #262626;
}
/* line 63, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_logo {
  display: inline;
  float: left;
  width: 32.667%;
  margin-right: 1.0%;
  background: transparent url("/images/Logo_StructureComputation_gris.png") no-repeat top left;
  height: 41px;
  margin: 5px 0px 0px 10px;
  padding: 5px 0px 0px 0px;
}
/* line 70, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_token_account {
  //width: 66.333%;
  display: inline;
  float: left;
  margin-right: 0%;
  //border-bottom: 1px solid #565656;
  #margin-left: -1%;
}
/* line 83, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_token_account #account_information {
  display: inline-block;
  text-align: left;
  float: left;
  margin-top: 0;
  padding: 1px 5px 0px 5px;
  height: 29px;
  border-right:1px solid #565656;
  //background: transparent url("/images/header_bg_separateur.png") no-repeat bottom left;
}
/* line 83, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #account_icon {
  display: inline-block;
  float: left;
  margin-top: 0px;
  padding-top: 7px;
  padding-left: 4px;
  padding-right: 5px;
  height: 23px;
}
/* line 83, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #account_icon:hover {
  background: #969696;
}


/* line 70, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_user_connected {
  //width: 66.333%;
  display: inline;
  float: right;
  margin-right: 0%;
  //border-bottom: 1px solid #969696;
  #margin-left: -1%;
}
/* line 73, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_user_connected #header_workspace_name {
  display: inline-block;
  text-align: right;
  float: right;
  margin-top: 0;
  background: transparent url("/images/header_bg_separateur.png") no-repeat top right;
  padding: 1px 12px 0 8px;
  height: 29px;
}
/* line 83, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_user_connected #user_information {
  display: inline-block;
  text-align: right;
  float: right;
  margin-top: 0;
  padding: 1px 5px 0px 30px;
  height: 29px;
  border-left:1px solid #969696;
  //background: transparent url("/images/header_bg_separateur.png") no-repeat bottom left;
}

header .container #header_top #header_user_connected #user_information a {
  //text-decoration : none;
  color : #e6e6e6;
}
/* line 83, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #user_icon {
  display: inline-block;
  text-align: right;
  float: right;
  margin-top: 0px;
  padding-top: 7px;
  padding-left: 4px;
  padding-right: 5px;
  height: 23px;
}
/* line 83, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #user_icon:hover {
  background: #969696;
}

/* line 91, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_user_connected #user_information #user_name {
  //background: transparent url("/images/header_cadena.png") no-repeat center right;
  padding-right: 5px;
  margin-top: 0;
}
/* line 96, ../../app/stylesheets/partials/_header.sass */
header .container #header_top #header_user_connected #user_information #disconnect_link {
  color: #e5e5e5;
}



