/ filtre
#largeBoxfilter{:style => "height : 70px;"}
  %div{:style => "width:720px ; height : 5px;"}
  .largeBoxFilter1{:style => "width:25px" }
  .largeBoxFilter1{:style => "width:50px" }
    Nom :
  .largeBoxFilter1{:style => "width:150px" }
    %input{ :name => "username", :type => "text" }
  .largeBoxFilter1{:style => "width:50px" }
    Prénom :
  .largeBoxFilter1{:style => "width:150px" }
    %input{ :name => "ref", :type => "text" }  
  .largeBoxFilterBoutonJaune
    %img{ :src => "/images/picto_loupe_filtre.png" }
    Filtrer les membres
    
  .largeBoxFilter1{:style => "width:25px" } 
  .largeBoxFilter1{:style => "width:50px" }
    type :
  .largeBoxFilter1{:style => "width:150px" }
    %input{ :name => "new_result", :type => "text" }

  .largeBoxFilter1{:style => "width:50px" }
    Statut :
  .largeBoxFilter1{:style => "width:150px" }
    %input{ :name => "date_deb_1", :type => "text"}
  .largeBoxFilter3
    Annuler les filtres de recherche
    %img{ :src => "/images/picto_annuler_filter.png", :style => "vertical-align:middle;" }
/ fin du filtre