/ contenu
#FactureContent.largeBoxContentCompte1.off
  / menu du compte calcul
  .CompteMenu
    %ul
      %li#FMListe.selected
        %a{ :onclick => "affich_liste_facture()", :style => "cursor: pointer;" }
          liste des factures
      %li#FMDetail
        %a{ :onclick => "affich_detail_facture()", :style => "cursor: pointer;" }
          Détail

  .CompteContent#FCListe.on
    .CompteContentHeightMin
    = render :partial => "company/facture/decompte_facture"
  .CompteContent#FCDetail.off
    .CompteContentHeightMin
    /= render :partial => "contenu_company_detail"
  
  
/ fin menu compte calcul
/ fin du contenu