/* Imports --------------------------------------------------------------- */

@import base
@import compass/css3/gradient
@import compass/css3/border-radius
@import compass/typography/links/unstyled-link
@import compass/typography/links/hover-link

/* Variables ------------------------------------------------------------- */

$largeur-min : 950px
$largeur-max : 90%

/* Mixins ---------------------------------------------------------------- */

/* Global ---------------------------------------------------------------- */

body
  margin: 0
  min-height: 100%
  
.container
  +container
  +susy-grid-background
  min-width: $largeur-min
  max-width: $largeur-max

@import partials/header
@import partials/footer

#contentleft
  +columns(4)
  
#content
  +columns(20)
  +omega

#company_submenu, #home_submenu, #admin_submenu, #modele_submenu, #profil_submenu, #members_submenu, #companies_submenu, .left_submenu
  margin-top: 0.5em
  margin-bottom: 0.5em
  h2
    font-size: 13px
    text-align: center
    font-weight: 100
    +border-top-radius(0.8em)
    +background-image(linear-gradient(#e5e7f3, #afafb3))
    line-height: 1.7em
    border: 1px solid dimGray
    border-bottom: none
    margin-bottom: 0
  ul 
    list-style-type: none
    padding-top: 0.5em
    padding-bottom: 0.5em
    border: 1px solid dimGray
    padding-left: 1em
    margin-top: 0
    li
      a
        color: dimGray
        font-size: 0.75em
        padding-left: 20px
        line-height: 1.8em
        display: block
        margin: auto
        text-decoration: underline
    li.manage_pic_liste_compte
      a
        background: url('/images/manage_pic_liste_compte.png') no-repeat left center 
    li.manage_pic_liste_membre
      a 
        background: url('/images/manage_pic_liste_membre.png') no-repeat left center 
    li.manage_pic_nouveau_membre
      a 
        background: url('/images/manage_pic_nouveau_membre.png') no-repeat left center
    li.manage_pic_liste_factures
      a
        background: url('/images/manage_pic_liste_factures.png') no-repeat left center 
    li.manage_pic_liste_compte
      a
        background: url('/images/manage_pic_liste_compte.png') no-repeat left center 
    li.manage_pic_compte_abonnement
      a
        background: url('/images/manage_pic_compte_abonnement.png') no-repeat left center
    li.manage_pic_compte_memoire
      a
        background: url('/images/manage_pic_compte_memoire.png') no-repeat left center              
    li.LM_pic_model
      a
        background: url('/images/LM_pic_model.png') no-repeat left center
    li.LM_pic_new_model
      a
        background: url('/images/LM_pic_new_model.png') no-repeat left center 
    li.LM_pic_materiau
      a
        background: url('/images/LM_pic_materiau.png') no-repeat left center 
    li.LM_pic_liaison
      a
        background: url('/images/LM_pic_liaison.png') no-repeat left center
    li.picto_profil
      a
        background: url('/images/picto_profil.png') no-repeat left center    


