#profil_submenu
  %h2
    Profil
  %ul
    %li.picto_profil
      %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_profil_user()" }
        Mon profil
    %li.manage_pic_liste_membre
      %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_profil_company()" }
        Mes gestionnaires
