-# encoding: utf-8 
/ contenu
#ProfilCompanyContent.largeBoxContentCompte.off

  .CompteContent{ :style => " margin-top: 5px;" }
    .CompteContentHeightMin
    = render :partial => "gestionnaires_list"
  

/ fin du contenu