/ Vue Index desuser.
/ Liens vers les CSS
%link{ :href => "/stylesheets/main_factures.css", :rel => "stylesheet", :media => "screen" }

/ Javascript particulier a la page modele
%script{ :src => "/javascripts/factures/functions_layer_factures.js" ,   :type => "text/javascript" }

/ wizard création de projet en premier plan
.content
  #contentright
    #largeBox
      %h2
        Liste des factures

      %table
        %thead
          %tr
            %td Référence
            %td Type
            %td Prix HT(Euros)
            %td Prix TTC(Euros)
            %td Status
            %td
        %body
          = render @bills
