%table.grey#models_table
  %thead
    %tr
      %th.no_sorter
      %th Nom
      %th ID
      %th Résultat
      %th.no_sorter Actions
  %tbody
    - @sc_models.each do |sc_model|
      %tr
        %td.escape_search.details_link= link_to 'Détails', workspace_sc_model_path(@workspace, sc_model)
        %td.name=           sc_model.name ? sc_model.name : 'Undefined'
        %td.id=             sc_model.id
        -# Suppression de la colonne "Projet" %td
        %td
        -#%td.result=         sc_model.results
        %td.action_on_table.escape_search
          %ul
            %li
              %a Visualisation
            %li
              %a Calcul
            %li
              = button_to 'Supprimer', workspace_sc_model_path(@workspace, sc_model), :method => :delete, :confirm => "Êtes-vous sûr ?"

:coffeescript
  $('#models_table').tablesorter()