-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_model
        = link_to "Retour à la liste de modèles", company_sc_models_path(@company) 
-content_for :company_content do
  .grey
    = render "form"