$hover-color: #BBF
ul.data_list
  border: 1px solid #B2B2B2
  list-style-type: none
  padding-left: 0
  padding-top: 0
  margin: 0
  li
    cursor: pointer
    padding: 0.5em
    button
      float: right
      
  li:nth-child(odd)
    background-color: #F7F7F7
  li.calcul_view.selected
    background-color: #CCF
    font-weight: bold
  li:hover
    background-color: $hover-color
  li.selected
    color: green
    background-color: #CCF
  li.gray
    color: gray
        
.breadcrumb_button
  padding: 1em
  button
    float: right
  a  
    float: right
#wizard_buttons
  margin-top : 1%
  +full
  div
    display: inline-block

#ajax-loader
  background-image : url(../images/ajax-loader.gif)
  background-repeat: no-repeat
  width            : 32px
  height           : 32px
  position         : absolute
  display          : none

.is_not_assigned, .is_assigned
  float: right

#bottom_list_calcul
  padding-top: 1em
  table
    font-size: 95%

#materials_database, #links_database
  tbody
    tr:hover
      background-color: $hover-color

#steps, #calculus_option
  +transition-out(1s)
  max-height: 0px
  overflow: hidden
  background-color: white
  border: 1px solid #CCC
  padding: 1%
  visibility: hidden
  
#steps.maximize, #calculus_option.maximize
  +transition-in(1s)
  max-height: 100em
  visibility: visible

.previous_button
  float : left
  a
    +border-left-radius(1em)
.next_button
  float : right
  a
    +border-right-radius(1em)  
.save_div
  margin-left: 2%
  
#saved_for
  display: block
  
#calcul_container
  h2.grey
    background-image: none
    font-size: 110%
    font-weight: normal
    margin-top: 0em
    border: none
    
#left_list_calcul
  > div
    background-color: white
    border: 1px solid #CCC
    padding: 1%
#right_list_calcul
  > div
    background-color: white
    border: 1px solid #CCC
    padding: 1%