.NC_filter{ :style => "width:248px; height:120px" }
  /.NC_active_box_init_text_1{ :style => "width:90%;" }
  .NC_active_box_init_text_1{ :style => "width:90%;" }
    %select#liaison_filter_type{ :onChange => "change_liaison_filter()" }
      %option{ :value => "name" }
        name
      %option{ :value => "id side matérial" }
        id side matérial
  .NC_active_box_init_text_1{ :style => "width:90%;" }
      %input#liaison_filter_value{:type => "text", :name=> "liaison_filter_value", :onfocus => "this.blur();"} 