%table
  %thead
    %tr.light_grey
      %th
      %th Selon V1
      - if material.mtype == "orthotrope"
        %th Selon V2
        %th Selon V3
  %tbody
    %tr.grey
      %th Dilatation thermique
      %td
        %label a1 = 
        %input{:disabled => true, :value => "#{material.alpha_1}"}
      - if material.mtype == "orthotrope"
        %td
          %label a2 = 
          %input{:disabled => true, :value => "#{material.alpha_2}"}
        %td
          %label a3 = 
          %input{:disabled => true, :value => "#{material.alpha_3}"}

