- disabled = false if disabled.nil?
- show_all = false if show_all.nil?

%h3 Masse volumique
%table.grey
  %tbody
    %tr.no_sorter
      %th Masse volumique (&rho;)
      %td= custom_text_field(:material, :rho, "&rho;￼", disabled)
%h3 Dilatation thermique
        
%table.grey
  %thead
    %tr.no_sorter
      %th
      %th Selon V1
      - if @material.mtype == "orthotrope" or show_all
        %th Selon V2
        %th Selon V3
  %tbody
    %tr
      %th Dilatation thermique (&alpha;)
      %td= custom_text_field(:material, :alpha_1, "&alpha;1", disabled)
      - if @material.mtype == "orthotrope" or show_all
        %td= custom_text_field(:material, :alpha_1, "&alpha;￼2", disabled)
        %td= custom_text_field(:material, :alpha_1, "&alpha;3", disabled) 

