.search_filter
  = form_tag company_links_path, :method => :get do
  
    = select_tag "type", options_for_select([["Bibliothèque standard", "standard"],["Ma bibliothèque", "owner"]], (params[:type] == "standard" ? "standard" : "owner"))
  
    = submit_tag "Filtrer", :class => 'yellow_button'

  %label{:for => "search_filter"} Recherche
  %input#search_filter{:type => "text"}
  %button#more_details +
  #advanced_search
    %br/
    %label{:for => "name_search_filter"} Nom
    %input#name_search_filter{:type => "text"}
    
    %label{:for => "family_search_filter"} Famille
    %input#family_search_filter{:type => "text"}
    
    %label{:for => "comp_generic_search_filter"} Générique
    %input#comp_generic_search_filter{:type => "text"}
    
    %label{:for => "comp_complex_search_filter"} Complexe
    %input#comp_complex_search_filter{:type => "text"}

:coffeescript
  
  $( ->
    $('#links_table').tablesorter()

    $("#advanced_search").toggle()  
    $('#more_details').click( () ->
      $("#advanced_search").toggle()
      $(this).text(if $(this).text() is '+' then '-' else '+')
    )

    advancedSearchFilter("links_table",
                         ["name_search_filter","family_search_filter","comp_generic_search_filter","comp_complex_search_filter"],
                         ["name"              ,"family"              ,"comp_generic"              ,"comp_complex"])
    searchFilter("links_table", "search_filter")
  )