.search_filter
  #links_library_filter
    %label{:for => "links_library_workspace"}   Ma bibliothèque
    = check_box_tag 'links_library_workspace', 'workspace', true
    %label{:for => "links_library_standard"}    Bibliothèque standard
    = check_box_tag 'links_library_standard', 'standard', true
  :coffeescript
    $('#links_library_filter input[type=checkbox]').click (event) ->
      $("#links_table tbody tr." + event.srcElement.value).toggle()
        

  %p
    %label{:for => "search_filter"} Recherche
    %input#search_filter{:type => "text"}
    %button#links_more_details.yellow_button Recherche avancée

  #links_advanced_search.advanced_search
    %p
      %label{:for => "name_search_filter"} Nom
      %input#name_search_filter{:type => "text"}
    %p  
      %label{:for => "id_search_filter"} ID
      %input#id_search_filter{:type => "text"}
    %p      
      %label{:for => "reference_search_filter"} Réference
      %input#reference_search_filter{:type => "text"}
    %p  
      %label{:for => "family_search_filter"} Famille
      %input#family_search_filter{:type => "text"}
    %p      
      %label{:for => "comp_generic_search_filter"} Générique
      %input#comp_generic_search_filter{:type => "text"}
    %p      
      %label{:for => "comp_complex_search_filter"} Complexe
      %input#comp_complex_search_filter{:type => "text"}

:coffeescript
  
  $( ->
    $('#links_table').tablesorter()

    $('#links_more_details').click( () ->
      $('#links_advanced_search').toggleClass('maximize')
    )

    advancedSearchFilter("links_table",
                         ["name_search_filter","id_search_filter","reference_search_filter","family_search_filter","comp_generic_search_filter","comp_complex_search_filter"],
                         ["name"              ,"id"              ,"reference"              ,"family"              ,"comp_generic"              ,"comp_complex"])
    searchFilter("links_table", "search_filter")
  )