.search_filter
  = form_tag company_links_path, :method => :get do
  
    = select_tag "type", options_for_select([["Bibliothèque standard", "standard"],["Ma bibliothèque", "owner"]], (params[:type] == "standard" ? "standard" : "owner"))
  
    = submit_tag "Filtrer", :class => 'yellow_button'

  %label{:for => "search_filter"} Recherche
  %input#search_filter{:type => "text"}
  %button#more_details.close +
  #advanced_search
    %br/
    %label{:for => "name_search_filter"} Nom
    %input#name_search_filter{:type => "text"}

    %label{:for => "id_search_filter"} ID
    %input#id_search_filter{:type => "text"}
    
    %label{:for => "reference_search_filter"} Réference
    %input#reference_search_filter{:type => "text"}

    %label{:for => "family_search_filter"} Famille
    %input#family_search_filter{:type => "text"}
    
    %label{:for => "comp_generic_search_filter"} Générique
    %input#comp_generic_search_filter{:type => "text"}
    
    %label{:for => "comp_complex_search_filter"} Complexe
    %input#comp_complex_search_filter{:type => "text"}

:coffeescript
  
  $( ->
    $('#links_table').tablesorter()

    $("#advanced_search").toggle()  
    $('#more_details').click( () ->
      $("#advanced_search").slideToggle()
      if $(this).hasClass('open')
        $(this).removeClass('open')
        $(this).addClass('close')
      else
        $(this).removeClass('close')
        $(this).addClass('open')
    )

    advancedSearchFilter("links_table",
                         ["name_search_filter","id_search_filter","reference_search_filter","family_search_filter","comp_generic_search_filter","comp_complex_search_filter"],
                         ["name"              ,"id"              ,"reference"              ,"family"              ,"comp_generic"              ,"comp_complex"])
    searchFilter("links_table", "search_filter")
  )