-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_liaison
        =link_to 'Retour au laboratoire', :controller => :laboratory, :action => :index, :anchor => 'Liaisons'
      %li.LM_pic_liaison
        =link_to 'Fermer', workspace_link_path(@workspace, @link)

-content_for :workspace_content do 
  .grey
    = render "form"
