-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_liaison
        =link_to 'Retour à la liste des liaisons', company_links_path(@company)

-content_for :company_content do 
  = render "form"
