#contentleft
  .contentheightmin
  = render :partial => "partials/raccourcis_modele"
  - render :partial => "ajouts_link"
/ fin partie gauche du contenu

/ partie droite du contenu, tableaux, informations importantes
#contentright
  #largeBox
    %h2
      Liste des matériaux
  #largeBoxcontent
    / taille minimum du contenu du contenu
    .contentheightmin
    / taille minimum du contenu du contenu
    
    #LinkListe
      = render :partial => "search_filter"
      - if !@links.empty?
        %table.grey
          %thead
            %tr
              %th 
              %th Nom
              %th Famille
              %th Générique
              %th Complexe
              - if params[:type] != "standard" 
                %th
                %th
          %tbody
            = render @links
      = link_to "Nouvelle liaison", new_company_link_path