-content_for :left_top do
  .left_submenu
    %h2.grey
      Ajouts
    %ul
      %li.LM_pic_new_liaison
        = link_to 'Nouvelle liaison', new_company_link_path

-content_for :right_top do
  %h2.grey
    Liste des liaisons
  %div
    = render :partial => "search_filter"

-content_for :company_content do
  %table.grey#links_table
    %thead
      %tr
        %th.no_sorter
        %th Nom
        %th ID
        %th Référence
        %th Famille
        %th Générique
        %th Complexe
        %th.no_sorter Actions
    %tbody
      = render :partial => "link", :collection => @standard_links, :locals => {:type => "standard"}
      = render :partial => "link", :collection => @company_links,  :locals => {:type => "company"} 
