-#.ligne_resume_table
%p
  Calcul
%div
  Jetons de calcul
  %a{ :style => "cursor: pointer;", :onclick => "modif_compte_calcul()" } 
    Nouveau
  %div
    utilisation du forfait : 
    %span#calcul_account_info_used_jeton
      100
    \/
    %span#calcul_account_info_base_jeton
      500
%p
  Actif 
%ul
  %li
    %a{ :onclick => "compte_calcul_affich_Utilisation()", :style => "cursor: pointer;" }
      Décompte
  %li
    %a{ :onclick => "compte_calcul_affich_Description()", :style => "cursor: pointer;" }
      Description

%div
  %div
    %p
      .label
        Type :
      %input{ :name => "username", :type => "text"}
    %p
      %label
        Référence projet :
      %input{ :name => "username", :type => "text" }
    %p
      %a
        Appliquer les Filtres
    %p
      %label
        Début, du :
      %input{ :name => "username", :type => "text" }
    %p  
      %label
        au :
      %input{ :name => "username", :type => "text" }
    %p
      %a
        Annuler les filtres
  %table
    %thead
      %tr
        %th
          Date                   
        %th
          Type 
        %th
          Débit
        %th
          Crédit
        %th
          Solde
        %th
          Solde tampon
    -# Mettre un lien qui redirige vers go_page_solde_calcul('first') (pas compris ves quoi)
  %div
    %p
      Les forfaits de calcul vous permettent d'utiliser à la demande les outils et la puissance de calcul de Structure Computation (maillage de vos modèles, calcul de structures...). Vous pouvez cumuler plusieurs forfaits. 
    %p
      Votre forfait actuel : 
    %table
      %thead
        %tr
          %th
            Report de jetons
          %th
            Jetons standards
          %th
            Jetons tampons
          %th
            Date d'échéance
      %tbody
        %tr
          %td
            100
          %td
            500 
          %td
            100
          %td
            10-12-2010
         
    %p
      Votre utilisation actuelle :
    %table
      %thead
        %tr
          %th
            solde de jetons standards
          %th
            Jetons utilisé
          %th
      %tbody
        %tr
          %td
            600 
          %td
            100
          %td
            -# TODO mettre un slider