#companies_submenu
  %h2
    Comptes
  %ul
    %li.manage_pic_compte_memoire
      %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_abonnement()" }
        Abonnement
    %li.manage_pic_compte_abonnement
      %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_calcul()" }
        Forfait calcul
