/ résumé
#CompteCalculResume.largeBoxResumeCompte
  %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_calcul()" } 
    #CompteCalculFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
      Calcul
  .ResumeCompte3
    .ResumeCompteText1
      Jetons de calcul
    .ResumeCompteBouton
      Modifier
    .ResumeCompte3GreenBar
      .ResumeCompte3GreenBarDebut
      .ResumeCompte3GreenBarMilieu{ :style => "width: 1px ;" }
      .ResumeCompte3GreenBarFin
    .ResumeCompteText2
      utilisation du forfait : 
  .ResumeCompte4
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
      Actif 
  .ResumeCompte5
    
/ fin du résumé