#boundary_condition_form 
  %h2.grey
    %button.close Fermer
    Détail
  %p
    Type :
    %select.boundary_condition_type
      %option                             -
      %optgroup{:label => "Condition Limites en effort"}
        %option{:value => "effort"}       Densité d'effort
      %optgroup{:label => "Conditions limites en déplacement"}
        %option{:value => "imposed"}      Déplacement imposé
        %option{:value => "normal"}       Déplacement normal
        %option{:value => "symetry"}      Symétrie

  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Nom",         
                                                                          :ids     => ["boundary_condition_name"],
                                                                          :classes => ["name"]}

      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Description", 
                                                                          :ids => ["boundary_condition_description"],
                                                                          :classes => ["description"],
                                                                          :input_type => "textarea"}

  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Fonction spatiale (x, y, z)", 
                                                                          :ids => ["spatial_function_x", "spatial_function_y", "spatial_function_z"],
                                                                          :classes => ["x", "y", "z"],
                                                                          :placeholders => ["x", "y", "z"],
                                                                          :data_type => "number"}
  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Fonction temporelle (ft)", 
                                                                          :ids => ["time_function"], 
                                                                          :classes => ["ft"],
                                                                          :placeholdes => ["ft"],
                                                                          :data_type => "number"}
