-# encoding: utf-8 
#boundary_condition_form 
  %h2.grey
    %button.close Fermer
    Détail
  %p
    Type :
    %select.boundary_condition_type
      %option                             -
      %optgroup{:label => "Condition limites en effort"}
        %option{:value => "effort"}       Densité d'effort
        %option{:value => "effort_normal"}     Pression
      %optgroup{:label => "Conditions limites en déplacement"}
        %option{:value => "depl"} Déplacement imposé
        %option{:value => "depl_normal"}  Déplacement normal
        %option{:value => "symetry"}          Symétrie

  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Nom",         
                                                                          :ids     => ["boundary_condition_name"],
                                                                          :classes => ["name"]}

      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Description", 
                                                                          :ids => ["boundary_condition_description"],
                                                                          :classes => ["description"],
                                                                          :input_type => "textarea"}

  %h3.functionPartHeader
    Fonctions associées : 
  .functionPart