%h2 Information du calcul sélectionné

%table.grey
  %tbody
    %tr
      %th ID
      %td.id
    %tr
      %th 
        Nom
        %button.edit_name Renommer
      %td.name
    %tr
      %th Status
      %td.status
    %tr
      %th 
        Description
        %button.edit_description Editer
      %td.description
