#edge_information_box
  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Nom",         :ids => ["edge_name"]}
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Description", :ids => ["edge_name"], :type => "textarea"}
