#new_edge_form

  = render "calculs/partials/edge_basic_information"

  #edge_criteria
    %p
      Choisissez un critière pour définir le nouveau bord
    %p
      %button.yellow_button.criteria{:value => "volume"}  Dans un volume
      %button.yellow_button.criteria{:value => "surface"} Sur une surface
    
  / Si volume a été selectionné
  = render "calculs/partials/edge_volume_form"

  / Si surface a été selectionné
  = render "calculs/partials/edge_surface_form"
  
  %button.save Créer le bord