%h2.grey 
  %button.close Fermer
  Détail
%ul.horizontal_tab_submenu
  %li
    %a#tab_l1{:href => "#Génériques"} Génériques
  %li                   
    %a#tab_l2{:href => "#Comportement"}   Comportement

.horizontal_tab_content
  #tab_l1_content
    = render :partial => "links/details/link_generic_information", :locals => {:show_all => true}
  #tab_l2_content
    = render :partial => "links/details/link_complexe_information_for_calcul", :locals => {:show_all => true}

:coffeescript
  $ ->
    manage_tabs
      "#tab_l1" : "#tab_l1_content"
      "#tab_l2" : "#tab_l2_content"
