%table.grey#materials_table
  %thead
    %tr.no_sorter
      %th Nom
      %th Family
      %th
    %tbody
    
%table.grey#materials_selected_table
  %thead
    %tr.no_sorter
      %th Nom
      %th Family
      %th
    %tbody