#new_edge
  #edge_criteria
    %p
      Choisissez un critière pour définir le nouveau bord
    %select
      %option Choisir un critère
      %option{:value => "volume"}  Dans un volume
      %option{:value => "surface"} Sur une surface

  / Si volume a été selectionné
  = render "calculs/partials/edge_volume_form"

  / Si surface a été selectionné
  = render "calculs/partials/edge_surface_form"
  
  %button.save Sauvegarder