#pieces
  .filtre
    %h2.grey Filtre
    %div
      %input{:type => "text"}
      %button.filter Filter
    %div
      %button.assign_all{:disabled => true} Tout assigner
      %button.unassign_all{:disabled => true} Tout désassigner
      %button.cancel_filter{:disabled => true} Annuler le filtre
    %div
      %label{:for => "hide_assigned_pieces"} Cacher les pièces déjà assignés
      %input#hide_assigned_pieces{:type => "checkbox"}

  %h2.grey Liste des pièces
  %table.data_table.grey
    %thead
      %tr
        %th ID
        %th Nom
        %th Matériau
    %tbody