- # You have to specify:
- #   header row name
- #   a Hash which associate label_id to a place_holder
- #   data_type
%tr
  %th 
    = header

  - labels.each do |label_id, label_text|
    %td
      %input{:type => "text", :id => label_id, :placeholder => label_text, :size => 10, :name => label_id, :data => {:type => data_type}}
