- # You have to specify:
- #   header row name
- #   a Hash which associate label_id to a placeholder
- #   data_type

%tr
  %th 
    = header

  - ids.each_with_index do |input_id, i|
    %td
      - if local_assigns.has_key?(:input_type) and input_type == "textarea"
        %textarea{:type => "text", 
                  :id => input_id, 
                  :class => (local_assigns.has_key?(:classes) ? classes[i] : ""), 
                  :placeholder =>  (local_assigns.has_key?(:placeholders) ? placeholders[i] : ""), 
                  :size => 10, 
                  :name => (local_assigns.has_key?(:names) ? names[i] : ""),
                  :data => {:type => local_assigns.has_key?(:data_type) ? data_type : ""},
                  :cols => "10"}
      - else
        %input{   :type => "text", 
                  :id => input_id, 
                  :class => (local_assigns.has_key?(:classes) ? classes[i] : ""), 
                  :placeholder =>  (local_assigns.has_key?(:placeholders) ? placeholders[i] : ""), 
                  :size => 10, 
                  :name => (local_assigns.has_key?(:names) ? names[i] : ""),
                  :data => {:type => local_assigns.has_key?(:data_type) ? data_type : ""}}
