- # You have to specify:
- #   header row name
- #   a Hash which associate label_id to a place_holder
- #   data_type
%tr
  %th 
    = header

  - ids.each_with_index do |input_id, i|
    %td
      %input{:type => "text", :id => input_id, :placeholder => placeholders[i], :size => 10, :name => input_id, :data => {:type => data_type}}
