%h2#time_parameters Paramètres temporels 
#steps.toggler.maximize
  %select#step_type
    %option{:value => "static"} Static
    %option{:value => "quasistatic"} Quasistatic
    %option{:value => "dynamic"} Dynamic
  %button.add Ajouter un Step
  %table#steps_table.grey
    %thead
      %tr.no_sorter
        %th Nom
        %th Temps initial
        %th Pas de temps
        %th Nombre de pas de temps
        %th Temps final
        %th
    %tbody
  :coffeescript
    $ ->      
      $('#time_parameters').click( () ->
        $('#steps').toggleClass 'maximize'
      )