-# encoding: utf-8 
%h2.grey Chargement thermique
%p
#thermal_load
  %table#thermal_load_table.grey.data_table
    %thead
      %tr.no_sorter
        %th Nom
        %th Fonction
    %tbody#thermal_load_table_content
      %tr
        %td 
          %input#thermal_load_name{:type => "text"}
        %td 
          %input#thermal_load_function{:type => "text"}
%p
%p
%P