#time_parameter_form 
  %p
  %h2.grey
    %button.close Fermer
    Détail
  %p
  %table.grey
    %tbody
      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Alias",         
                                                                          :ids     => ["time_parameter_alias_name"],
                                                                          :classes => ["alias_name"]}

      = render :partial => "calculs/partials/row_label_text", :locals => {:header => "Description", 
                                                                          :ids => ["time_parameter_description"],
                                                                          :classes => ["description"],
                                                                          :input_type => "textarea"}

  %h3.functionPartHeader
    Fonction associé au pas de temps : 
    %select.steps
  .functionPart