%h2.grey Efforts volumiques
#volumic_forces
  %button#add_volumic_force Ajouter un effort volumique
  %table#volumic_force_table.grey
    %thead
      %tr.no_sorter
        %th Nom
        %th Gamma
        %th Direction (x)
        %th Direction (y)
        %th Direction (z)
    %tbody#volumic_force_table_content
      -# %tr#volumic_force_line_template.hidden_template