.CompteContentFilter
  .CompteContentFilter2
    Pour accéder aux outils, vous devez d'abord charger un maillage pour ce modéle
    
  .largeBoxResumeCompte.on
    .ResumeCompte2{ :style => "width:200px;" }
      .ResumeCompteText1
      .ResumeCompteText1
        Charger votre maillage
    .ResumeCompte3{ :style => "width:330px;" }
      .ResumeCompteText1
      %form#sc_model_form{:action => "/detail_model/send_mesh", :enctype => "multipart/form-data", :method => "post"}
        %input#format{:type => "hidden", :value => "js"}
        %input#id_model{:type => "hidden", :name => "id_model", :value => "#{@id_model}" }
        .ResumeCompteText1{ :style => "width:320px;" }
          %input#sc_model_fichier{:name => "fichier", :type => "file"}/
    .ResumeCompte6{ :style => "width:150px;" }
      .ResumeCompteText1
      %a{ :onclick => "send_model_mesh()", :style => "cursor: pointer;" }
        .ResumeCompteBouton1
          valider