.CompteContentFilter
  .CompteContentFilter2
    Liste des outils disponnibles
    
  .largeBoxResumeCompte.off
    .ResumeCompte1
    .ResumeCompte2
      .ResumeCompteText1
      .ResumeCompteText1
        Calcul de structures
