.CompteContentFilter
  .CompteContentFilter2
    votre maillage est en cours de chargement. Veuillez rafraichir la page pour vérifier l'état de votre modèle.
  .CompteContentFilter1  
  .CompteContentFilter1 
  .CompteContentFilter1 
    
  .CompteContentFilter2  
    %a{ :onclick => "refresh_page()", :style => "cursor: pointer;" }
      .CompteContentFilterBoutonJaune
        rafraichir