%a{ :style => "cursor: pointer;", :onclick => "go_calcul()" }
  .largeBoxResumeCompte
    .ResumeCompte1
    .ResumeCompte2
      .ResumeCompteText1
      .ResumeCompteText1
        Calcul de structures

%a{ :style => "cursor: pointer;", :onclick => "go_visu()" }
  .largeBoxResumeCompte
    .ResumeCompte1
    .ResumeCompte2
      .ResumeCompteText1
      .ResumeCompteText1
        Visualisation
      
.largeBoxResumeCompte
  .ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1
    .ResumeCompteText1
      Partager un fichier