#NC_page_previsions_active_2.on
  .NC_top_active_box{ :style => "margin-top:3px;" }
    %div{ :style => "float: left; width: 70px; height: 27px;" }
    %div{ :style => "float: left; width: 532px; height: 27px;" }
      Prévisions pour le calcul
    %div
  #NC_previsions_active_box_1.NC_active_box.color{ :style => "height:231px" }
    .NC_active_previvions
      Les estimations de temps de calcul vous sont données sur la base de nos statistiques.
      Le nombre de processeurs est alloué automatiquement en fonction de la taille de votre calcul.
    %div{ :style => "height:30px; width:532px; margin:0px 0 0 70px; float:left;" }
      .NC_pic_triangle_info{ :style => "margin-left:400px;" }
    .NC_active_box_opt_j
    .NC_active_box_opt_j
    .NC_active_box_opt_i
      Nombre de processeur alloués :
    .NC_active_box_opt_j
      20
    .NC_active_box_opt_j
    .NC_active_box_opt_j
    .NC_active_box_opt_j
    .NC_active_box_opt_j
    .NC_active_box_opt_i
      Temps de calcul maximum estimé :
    .NC_active_box_opt_j
      2h10
    .NC_active_box_opt_j
    .NC_active_box_opt_j
    .NC_active_box_opt_j
    .NC_active_box_opt_j
    .NC_active_box_opt_i
      temps total débité sur votre compte :
    .NC_active_box_opt_j
      23h40
    .NC_active_box_opt_i