#NC_page_previsions_1.on
  .NC_top_box
    résumé
  #page_previsions_12.NC_box
    .NC_filter{ :style => "width:248px; height:180px" }
      .NC_resume_titre
        Générer un résumé
      .NC_resume
        Votre calcul a été correctement paramétré. Vous pouvez maintenant générer un résumer puis lancer votre calcul.
    %div{ :style => "width:248px; height:130px; float:left;" }
      %div{ :style => "width:248px; height:8px; float:left;" }
        .NC_pic_triangle_info{ :style => "margin-left:30px;" }
      .NC_prev_gen_resume
        .NC_pic_pdf
        .NC_gen_resume
          générer le résumé
    .NC_filter{ :style => "width:248px; height:230px" }
      .NC_resume_titre
        Résultats
      .NC_resume
        Une fois votre calcul terminé, vous recevrez un message sur votre boite mail.
        Vos résultats seront disponnible pour le téléchargement et la visualisation dans votre bibliothèque de résultats.