#leftBox
  %h2
    Ajouts
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/LM_pic_new_model.png" }
      %td
        %a{ :href => "#", :onclick => "CPcurrent_stage=displayNewModel('on')" }
          Déposer un modèle
#leftBoxfoot
