/ filtre
#largeBoxfilter
/   #largeBoxfilter_1
/     .largeBoxFilter1{:style => "width:50px" }
/       Nom :
/     .largeBoxFilter2{:style => "width:180px" }
/       %input{ :name => "username", :type => "text" }
/     .largeBoxFilter1{:style => "width:70px" }
/       Référence :
/     .largeBoxFilter2{:style => "width:160px" }
/       %input{ :name => "ref", :type => "text" }
/     .largeBoxFilter1{:style => "width:120px" }
/       Nouveaux résultats :
/     .largeBoxFilter2{:style => "width:110px" }
/       %input{ :name => "new_result", :type => "text" }
/     .largeBoxFilter1{:style => "width:50px" }
/       Statut :
/     .largeBoxFilter2{:style => "width:180px" }
/       %input{ :name => "statut", :type => "text" }
/   #largeBoxfilter_2
/     .largeBoxFilter1{:style => "width:90px" }
/       Début : entre le
/     .largeBoxFilter2{:style => "width:120px" }
/       %input{ :name => "date_deb_1", :type => "text"}
/     .largeBoxFilter1{:style => "width:30px" }
/       et le
/     .largeBoxFilter2{:style => "width:120px" }
/       %input{ :name => "date_deb_2", :type => "text" }
/       
/     .largeBoxFilter1{:style => "width:90px" }
/       Fin : entre le
/     .largeBoxFilter2{:style => "width:120px" }
/       %input{ :name => "date_fin_1", :type => "text"}
/     .largeBoxFilter1{:style => "width:30px" }
/       et le
/     .largeBoxFilter2{:style => "width:120px" }
/       %input{ :name => "date_fin_2", :type => "text"}
/       
/   .largeBoxFilterBoutonJaune
/     %img{ :src => "/images/picto_loupe_filtre.png" }
/     Filtrer les projets
/   .largeBoxFilter3
/     Annuler les filtres de recherche
/     %img{ :src => "/images/picto_annuler_filter.png", :style => "vertical-align:middle;" }
/ / fin du filtre