.DetailCadre
  .DetailCadreModel1
    .DetailCadreModelMarge
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Dimention
      .DetailCadreModelCase2
        2D
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de DDL
      .DetailCadreModelCase2
        20 000
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de pièces
      .DetailCadreModelCase2
        3
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de liaisons
      .DetailCadreModelCase2
        2

    .DetailCadreModelMarge
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de résultats
      .DetailCadreModelCase2
        10
    .DetailCadreModelLigne  
      .DetailCadreModelCase1
        Temps de calcul
      .DetailCadreModelCase2
        1500h
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Espace mémoire
      .DetailCadreModelCase2
        5 Go

    .DetailCadreModelMarge
    .DetailCadreModelDescriptionTop
      Description
    .DetailCadreModelDescription
    
  .DetailCadreModel2
  
.DetailFermeture
  %a{:style => "cursor: pointer;", :onclick => "ferme_detail_modele()" }
    .DetailTextFermeture
      Fermer le détail