#leftBox
  %h2
    Outils
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/pic_lancer_calcul.png" }
      %td
        %a{ :style => "cursor: pointer;", :onclick => "go_calcul()" }
          Lancer un calcul
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/LM_visu.png" }
      %td
        %a{ :href => "/material" }
          Visualiser
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_nouveau_membre.png" }
      %td
        %a{ :style => "cursor: pointer;", :onclick => "displayNewUtilisateur('on')" }
          Ajouter un utilisateur
