/ partie haute du footer, bas de la boite projet plus bouton
#footer_top
  #black_footer_top.black.off
  #footer_top_1
  #footer_top_2
    %a{ :href => "/modele" }
      #footer_top_fleche_retour
      retour à la liste des modèles
/ fin partie haute du footer
