/ filtre
#largeBoxInfo
  .DetailCadreModel1
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Dimention
      .DetailCadreModelCase2#sc_model_detail_dimension
        2D
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de DDL
      .DetailCadreModelCase2#sc_model_detail_ddl_number
        20 000
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de pièces
      .DetailCadreModelCase2#sc_model_detail_parts
        3
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de liaisons
      .DetailCadreModelCase2#sc_model_detail_interfaces
        2
/ fin du filtre