/ contenu
#CompteAbonnementContent.largeBoxContentCompte1.off
  / menu du compte abonnement
  .CompteMenu
    %ul
      /%li#CAMUtilisation.selected
      /  %a{ :onclick => "affich_contenu_compte_abonnement()", :style => "cursor: pointer;" }
      /    Utilisation
      %li#CAMDescription.selected
        %a{ :onclick => "affich_contenu_compte_abonnement()", :style => "cursor: pointer;" }
          Description

  .CompteContent 
    /.CompteContentHeightMin
    /= render :partial => "companies/abonnement/filtre_decompte_abonnement"
    /= render :partial => "companies/abonnement/decompte_abonnement"
    = render :partial => "companies/abonnement/cadre_abonnement"
  
  
/ fin menu compte abonnement
/ fin du contenu