%h2 Initialisation du calcul

%table#step_table.grey
  %thead
    %tr.no_sorter
      %th Nom
      %th Temps initial
      %th Pas de temps
      %th Nombre de pas de temps
      %th Temps final
  %tbody

%button#add_step Ajouter un Step

#mat  
  %ul#materials_list
    %li
