/ contenu
#CompteCalculContent.largeBoxContentCompte.off
  / menu du compte calcul
  .CompteMenu
    %ul
      %li#CCMUtilisation.selected
        %a{ :onclick => "affich_utilisation_calcul()", :style => "cursor: pointer;" }
          Décompte
      %li#CCMDescription
        %a{ :onclick => "affich_description_calcul()", :style => "cursor: pointer;" }
          Description

  .CompteContent
    .CompteContentHeightMin
    = render :partial => "filtre_decompte_calcul"
    = render :partial => "decompte_calcul"
  
  
  
  
  
  
  
  
  
  
  
/ fin menu compte calcul
/ fin du contenu