#leftBox
  %h2
    Comptes
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_compte_memoire.png" }
      %td
        %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_abonnement()" }
          Abonnement
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_compte_abonnement.png" }
      %td
        %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_calcul()" }
          Forfait calcul
