/ résumé
#ProfilCompanyResume.largeBoxResumeCompte
  %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_profil_company()" } 
    #ProfilCompanyFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90px;" }
      coordonées
    .ResumeCompteText1{ :style => "width: 90px;" } 
      liste des gestionnaire
  .ResumeCompte3
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      Profil de votre société
  .ResumeCompte6
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
       
  
    
/ fin du résumé