/ résumé
#CompteAbonnementResume.largeBoxResumeCompte
  %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_compte_abonnement()" } 
    #CompteAbonnementFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90px ;margin-top:10px" }
      Sécurité 
      %br
      Mémoire
      %br
      Visualisation
  .ResumeCompte3
    .ResumeCompteText1
      Abbonnement annuel
    .ResumeCompteBouton
      Modifier
    .ResumeCompte3GreenBar
      .ResumeCompte3GreenBarDebut
      .ResumeCompte3GreenBarMilieu{ :style => "width: 1px ;" }
      .ResumeCompte3GreenBarFin
    .ResumeCompteText2
      utilisation de la mémoire : 
  .ResumeCompte4
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
      Actif 
  .ResumeCompte5
    
/ fin du résumé