#leftBox
  %h2
    Comptes
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_nouveau_membre.png" }
      %td
        %a{ :href => "#", :onclick => "CPcurrent_stage=displayNewMembre('on')" }
          Ajouter un membre
#leftBoxfoot
