-# encoding: utf-8 
%link{ :href => "/javascripts/EcosystemScience/Soja/ModelEditor.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/TreeView.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/Color.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/TreeApp.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/LayoutManager.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/CodeEditor.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/FileSystem.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/gen/EcosystemScience.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/stylesheets/main_ext_app.css", :rel => "stylesheet", :type => "text/css" }

%link{ :href => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/codemirror.css", :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/util/dialog.css", :rel => "stylesheet", :type => "text/css" }

%script{ :src => "/javascripts/EcosystemScience/Soja/Soja.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/DomHelper.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/TreeView.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/BrowserState.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/LayoutManager.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/ModelEditor.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/FileSystem.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/Color.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/CodeEditor.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/Geometry.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/UndoManager.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/Theme.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/TypedArray.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/CanvasManager.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/Animation.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/Soja/TreeApp.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/Browse.js", :type => "text/javascript" }

%script{ :src => "/javascripts/EcosystemScience/gen/EcosystemMecanicModuls.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/Correli.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/ScillsResult.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/UnvReader2D.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/UnvReader3D.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/Scult2D.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/Scult3D.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/Scills3D.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/gen/Function.js", :type => "text/javascript" }

%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/codemirror.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/mode/xml/xml.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/util/dialog.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/mode/javascript/javascript.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/mode/ruby/ruby.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/util/searchcursor.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/util/search.js", :type => "text/javascript" }
%script{ :src => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/util/match-highlighter.js", :type => "text/javascript" }

/%script{ :src => "/javascripts/EcosystemScience/Touchable-jQuery-Plugin/touchable.js", :type => "text/javascript" }

%script{ :src => "/javascripts/EcosystemScience/gen/EcosystemScience.js", :type => "text/javascript" }

%header
  .container
    #header_top
      #header_logo
      #header_user_connected  
        #user_information
          - if user_signed_in?  # Le cadenas est placé en premier car on aligne de droite à gauche dans cette zone. 
            -#logo_session_lock  
            %p#user_name
              = current_user.full_name
              %br
              = link_to "déconnexion", destroy_user_session_path,  :id => "disconnect_link"
          
            -#header_top_cadena
        %p#header_workspace_name
          - if user_signed_in? && current_workspace_member.workspace
            = current_workspace_member.workspace.name
          - else
            Nom entreprise
    
#main_window.CorreliWindow

%script{ :type => "text/javascript" }
  model_id = #{@model_id}
  launch_ecosystem_biologic(document.getElementById("main_window"), model_id);