#NU_wiz_layer.off
  #NU_wiz_layer_top
    Ajouter un accès membre vers ce modèle
  #NU_wiz_layer_milieu
    #NU_wiz_menu
      %a{ :onclick => "()" } 
        #NU_PB_page_information{ :style => "z-index: 100; margin-left:0px;" }
          Liste des membres
      %a{ :onclick => "()" } 
        #NU_PB_page_fichier{ :style => "z-index: 99; margin-left:220px" }
          Membres selectionnés
      %a{ :onclick => "()" } 
        #NU_PB_page_resume{ :style => "z-index: 98; margin-left:440px" }
          Résumé
        
    / page information
    #NU_page_information
      .NM_bleu{ :style => "width: 600px; height: 20px;  margin: 10px 0px 0 63px;" }
        Choisissez un ou plusieurs membres dans la liste
      = render :partial => "detail_model/utilisateurs/utilisateur_nouveau_list"
    / page fichier et description
    #NU_page_fichier
      /%div{:style => "width: 7px; height: 330px; float:left;" }
      .NM_bleu{ :style => "width: 600px; height: 20px;  margin: 10px 0px 0 63px;" }
        Membres selectionnés : 
      = render :partial => "detail_model/utilisateurs/utilisateur_select_list"
 
    / page résumé
    #NU_page_resume
      .NM_bleu{ :style => "width: 730px; height: 40px;  margin: 0px 0px 0 3px;" }
      .NM_fond_resume{ :style => "width: 730px; margin: 0px 0px 0 3px;" }
      
      #new_utilisateur_pic_ok.on{:style => "width: 300px; margin: 20px 0px 0 213px; float:left;" }
        .wiz_pic_ok
        .NM_bleu{ :style => "width: 200px; height:20px; margin: 25px 0px 25px 20px;" }
          Nouveaux utilisateurs validés
      #new_utilisateur_pic_wait.off{:style => "width: 300px; margin: 20px 0px 0 213px; float:left;" }
        .wiz_pic_wait
        .NM_bleu{ :style => "width: 200px; height:20px; margin: 25px 0px 25px 20px;" }
          Nouveaux utilisateurs en cours de validation

  #NU_wiz_layer_bas
    #NU_wiz_annul.on{:style => "float: left;" }
      %a{ :style => "cursor: pointer;", :onclick => "displayNewUtilisateur('off')" } 
        .New_create_bouton_jaune
          Annuler
    #NU_wiz_suiv.on{:style => "float: right;" }
      %a{ :onclick => "NU_next_stape()", :style => "cursor: pointer;" } 
        .New_footer_bouton_suivant.New_footer_top_bouton{ :style => "margin-right:5px;" }
          Suivant

    #NU_wiz_valid.off{:style => "float: right;" }
      %a{ :onclick => "NU_next_stape()", :style => "cursor: pointer;" } 
        .New_footer_bouton_suivant.New_footer_top_bouton{ :style => "margin-right:5px;" }
          Valider
      %a{ :onclick => "NU_previous_stape()", :style => "cursor: pointer;" } 
        .New_footer_bouton_precedent.New_footer_top_bouton
          Précédent

    #NU_wiz_fin.off{:style => "float: right;" }
      %a{ :onclick => "displayNewUtilisateur('off')", :style => "cursor: pointer;" }
        .New_create_bouton_jaune{ :style => "margin-right:5px;" }
          Terminer
