/ filtre
#largeBoxfilter
  #largeBoxfilter_1
    .NM_text_1{ :style => "width:300px;" }
      /%input#new_membre_role{ :type => "text", :onKeyup => "new_membre_change_value()" }
      %select#filtre_material_owner{ :onChange => "filtre_material_change_owner()"}
        %option{:value => "standard"} bibliothèque standard
        %option{:value => "company"} ma bibliothèque
    
    
  #largeBoxfilter_2   
  .largeBoxFilterBoutonJaune
    %img{ :src => "/images/picto_loupe_filtre.png" }
    Filtrer les materiaux
  .largeBoxFilter3
    Annuler les filtres de recherche
    %img{ :src => "/images/picto_annuler_filter.png", :style => "vertical-align:middle;" }
/ fin du filtre