.search_filter
  
  %a.yellow_button.pressed_button#company_material   Ma bibliothèque
  %a.yellow_button.pressed_button#standard_material  Bibliothèque standard
  :coffeescript
    $('a#company_material').click ->
      $(this).toggleClass('pressed_button')
      $('#materials_table tbody tr.company').toggle()

    $('a#standard_material').click ->
      $(this).toggleClass('pressed_button')
      $('#materials_table tbody tr.standard').toggle()
        
  %p
    %label{:for => "search_filter"} Recherche :
    %input#search_filter{:type => "text"}
    %button#materials_more_details.yellow_button Recherche avancée

  #materials_advanced_search.advanced_search
    %p
      %label{:for => "name_search_filter"} Nom
      %input#name_search_filter{:type => "text"}
    %p
      %label{:for => "id_search_filter"} ID
      %input#id_search_filter{:type => "text"}
    %p
      %label{:for => "reference_search_filter"} Référence
      %input#reference_search_filter{:type => "text"}
    %p
      %label{:for => "family_search_filter"} Famille
      %input#family_search_filter{:type => "text"}
    %p
      %label{:for => "type_search_filter"} Type
      %input#type_search_filter{:type => "text"}
    %p
      %label{:for => "comp_search_filter"} Comportement
      %input#comp_search_filter{:type => "text"}

:coffeescript
  $ ->
    $('#materials_table').tablesorter()

    $('#materials_more_details').click( () ->
      $('#materials_advanced_search').toggleClass('maximize')
    )

    advancedSearchFilter("materials_table",
                         ["name_search_filter", "id_search_filter", "reference_search_filter", "family_search_filter","type_search_filter","comp_search_filter"],
                         ["name"              , "id"              , "reference"              , "family"              ,"type"              ,"comp"])
    searchFilter("materials_table", "search_filter")
