.search_filter

  #materials_library_filter
    %label{:for => "materials_library_workspace"}   Ma bibliothèque
    = check_box_tag 'materials_library_workspace', 'workspace', true
    %label{:for => "materials_library_standard"}    Bibliothèque standard
    = check_box_tag 'materials_library_standard', 'standard', true

  :coffeescript
    $('#materials_library_filter input[type=checkbox]').click (event) ->
      $("#materials_table tbody tr." + event.srcElement.value).toggle()
        
  %p
    %label{:for => "search_filter"} Recherche :
    %input#search_filter{:type => "text"}
    %button#materials_more_details.yellow_button Recherche avancée

  #materials_advanced_search.advanced_search
    %p
      %label{:for => "name_search_filter"} Nom
      %input#name_search_filter{:type => "text"}
    %p
      %label{:for => "id_search_filter"} ID
      %input#id_search_filter{:type => "text"}
    %p
      %label{:for => "reference_search_filter"} Référence
      %input#reference_search_filter{:type => "text"}
    %p
      %label{:for => "family_search_filter"} Famille
      %input#family_search_filter{:type => "text"}
    %p
      %label{:for => "type_search_filter"} Type
      %input#type_search_filter{:type => "text"}
    %p
      %label{:for => "comp_search_filter"} Comportement
      %input#comp_search_filter{:type => "text"}

:coffeescript
  $ ->
    $('#materials_table').tablesorter()

    $('#materials_more_details').click( () ->
      $('#materials_advanced_search').toggleClass('maximize')
    )

    advancedSearchFilter("materials_table",
                         ["name_search_filter", "id_search_filter", "reference_search_filter", "family_search_filter","type_search_filter","comp_search_filter"],
                         ["name"              , "id"              , "reference"              , "family"              ,"type"              ,"comp"])
    searchFilter("materials_table", "search_filter")
