-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_materiau
        =link_to 'Retour à la liste des matériaux', company_materials_path(@company)
        
-content_for :company_content do
  .grey
    = render "form"