-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_materiau
        =link_to 'Retour au laboratoire', :controller => :laboratory, :action => :index, :anchor => 'Matériaux'
        
-content_for :workspace_content do
  .grey
    = render "form"