-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_new_mat
        = link_to "Nouveau materiaux", new_workspace_material_path
-content_for :right_top do
  %h2.grey
    Liste des matériaux 
  %div
    = render :partial => "search_filter"

-content_for :workspace_content do

  %table.grey#materials_table
    %thead
      %tr
        %th.no_sorter 
        %th Nom
        %th ID
        %th Famille
        %th Type
        %th Comportement
        %th.no_sorter Actions
    %tbody
      = render :partial => "material", :collection => @standard_materials, :locals => {:type => "standard"}
      = render :partial => "material", :collection => @workspace_materials,  :locals => {:type => "workspace"}
