%link{ :href => "/javascripts/EcosystemScience/Soja/ModelEditor.css",                 :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/TreeView.css",                    :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/Color.css",                       :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/TreeApp.css",                     :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/LayoutManager.css",               :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/CodeEditor.css",                  :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/Soja/FileSystem.css",                  :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/gen/EcosystemScience.css",             :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/stylesheets/main_ext_app.css",                                      :rel => "stylesheet", :type => "text/css" }

%link{ :href => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/codemirror.css",   :rel => "stylesheet", :type => "text/css" }
%link{ :href => "/javascripts/EcosystemScience/CodeMirror-2.22/lib/util/dialog.css",  :rel => "stylesheet", :type => "text/css" }
