#NC_box_prop.on
  #NC_top_box_prop.NC_top_box_center{ :style => "margin-top:3px;" }
    %div{ :style => "float: left; width: 70px; height: 27px;" }
    %div{ :style => "float: left; width: 532px; height: 27px;" }
      Propriétés
    %a{ :onclick => "affich_prop_visu_state()", :style => "cursor: pointer;" }
      #NC_top_box_prop_3.NC_triangle_cote
  #NC_content_box_prop.NC_box_prop.off
    .NC_box_prop_height_min
    / <?php include("./contenu/NC_etape_materiaux/prop_materiaux.php");  ?>
    / <?php include("./contenu/NC_etape_liaisons/prop_liaisons.php");  ?>
    / <?php include("./contenu/NC_etape_CLs/prop_CLs.php");  ?>