#NC_contentprogressbar
  %a{ :onclick => "affiche_NC_page_initialisation()", :style => "cursor: pointer;" }
    #NC_PB_page_initialisation{ :style => "z-index: 10; margin-left:2px;" }
      Initialisation

  %a{ :onclick => "affiche_NC_page_materiaux()", :style => "cursor: pointer;" }
    #NC_PB_page_materiaux{ :style => "z-index: 9; margin-left:136px" }
      Matériaux

  %a{ :onclick => "affiche_NC_page_liaisons()", :style => "cursor: pointer;" }
    #NC_PB_page_liaisons{ :style => "z-index: 8; margin-left:277px" }
      Liaisons

  %a{ :onclick => "affiche_NC_page_CLs()", :style => "cursor: pointer;" }
    #NC_PB_page_CLs{ :style => "z-index: 7; margin-left:447px" }
      Conditions Limites

  %a{ :onclick => "affiche_NC_page_options()", :style => "cursor: pointer;" }
    #NC_PB_page_options{ :style => "z-index: 6; margin-left:600px" }
      Options

  %a{ :onclick => "affiche_NC_page_previsions()", :style => "cursor: pointer;" }
    #NC_PB_page_previsions{ :style => "z-index: 4; margin-left:768px" }
      Prévisions
