#CadreInformations.off
  .DetailCadreModelTitre
    Modèle
    %span#sc_model_detail_name
      nom
  .DetailCadreModel1
    .DetailCadreModelMarge
    .DetailCadreModelDescriptionTop
      Description
    .DetailCadreModelDescription#sc_model_detail_description
    
    .DetailCadreModelMarge
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Nombre de résultats
      .DetailCadreModelCase2#sc_model_detail_results
        10
    .DetailCadreModelLigne  
      .DetailCadreModelCase1
        Temps de calcul
      .DetailCadreModelCase2#sc_model_detail_compute_time
        1500h
    .DetailCadreModelLigne
      .DetailCadreModelCase1
        Espace mémoire
      .DetailCadreModelCase2#sc_model_detail_space
        5 Go
    
  .DetailCadreModel2