#leftBox
  %h2
    Profile
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/picto_profil.png" }
      %td
        %a{ :href => "#", :onclick => "displayNewCompany('on')" }
          Nouvelle Société
#leftBoxfoot
