-# encoding: utf-8 
/ partie header commune à toute les pages, CSproject.selected

%header
  .container
    #header_top
/      #header_logo
/      #header_user_connected  
/        #user_information
/          -#header_top_cadena
/        %p#header_workspace_name
/          
/    #header_bottom
/      %p
/        %br
      
            

/ fin partie header
