-# encoding: utf-8 
/ partie header commune à toute les pages, CSproject.selected

%header
  .container
    #header_top
      #header_user_connected  
        - if user_signed_in?
          #user_icon
            = link_to image_tag( 'gnome-logout-icone-4198-16.png'), destroy_user_session_path,  :target => "SecondaryWindow"
          #user_information
            - user_identity = current_user.full_name.blank? ? current_user.email : current_user.full_name
            = link_to user_identity, edit_registration_path(current_user),             :target => "SecondaryWindow"
          

 
          -#  = link_to "",  workspaces_path(),            :target => "SecondaryWindow"

          #header_workspace_name
            Workspace : &nbsp
            %select#current_workspace_selector
              -# On place systématiquement le WS de travail actuel en premier. 
              %option{:label=>current_workspace_member.workspace.name, :value=>current_workspace_member.workspace.id, :selected => true}
              - current_user.workspaces.select{|ws| ws.id != current_workspace_member.workspace.id}.each do |workspace|
                %option{:label=>workspace.name,:value=>workspace.id}
              
            - if current_workspace_member.manager?
              = link_to "Manage", workspace_path(current_workspace_member.workspace, :anchor => 'Compte'), :target => "SecondaryWindow"
                
          #token_balance_information
            Token balance : &nbsp
            = current_workspace_member.workspace.token_account.solde_token



/ fin partie header
