/ contenu
#ProfilUserContent.largeBoxContentCompte.off
  / menu du compte calcul
  
  .CompteContent#PCCGestinaire.on{ :style => "margin-top:5px;" }
    .CompteContentHeightMin
    = render :partial => "user_detail"
    = render :partial => "user_change_detail"
    = render :partial => "user_change_mdp"

/ fin menu compte calcul
/ fin du contenu