#leftBox
  %h2
    Profil
#leftBoxcontent
  %table#tableleftBox
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/picto_profil.png" }
      %td
        %a{ :style => "cursor: pointer;", :onclick => "get_user_detail()" }
          Mon profil
    %tr
      %td{ :style => "width:22px ;" }
        %img{ :src => "/images/manage_pic_liste_membre.png" }
      %td
        %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_profil_company()" }
          Mes gestionnaires
#leftBoxfoot
