/ résumé
#ProfilUserResume.largeBoxResumeCompte
  %a{ :style => "cursor: pointer;", :onclick => "get_user_detail()" } 
    #ProfilUserFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90%; margin-top:10px;" }
      Modification de vos données personnelles
  .ResumeCompte3{ :style => "border: none;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText4
      Mon profil
  .ResumeCompte6.off
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
       
  
    
/ fin du résumé