/ résumé
#SCComputeResume.largeBoxResumeCompte1
  %a{ :href => "/modele" } 
    #SCComputeFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90%; margin-top:10px;" }
      Utilisation en ligne de nos logiciels
  .ResumeCompte3
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      SCcompute
  .ResumeCompte6
    .ResumeCompteText3{ :style => "width: 90%;" }
      %span#SCComputeNBModel.textred
        N
      Modeles
    .ResumeCompteText3{ :style => "width: 90%;" }
      %span#SCComputeNBCalcul.textred
        N
      Calcul en cours
    .ResumeCompteText3{ :style => "width: 90%;" }
      %span#SCComputeNBResultat.textred
        N
      Nouveau résultats
    
/ fin du résumé