/ résumé
#ProfilCompanyResume.largeBoxResumeCompte
  %a{ :style => "cursor: pointer;", :onclick => "affich_contenu_profil_company()" } 
    #ProfilCompanyFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90px; margin-top: 20px;" }
      contactez vos gestionnaires
  .ResumeCompte3{ :style => "border: none;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText4
      Liste de vos gestionnaires
  .ResumeCompte6.off
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      %span#ProfilCompanyNBGestionnaire.textred
        N
      gestionnaires
       
  
    
/ fin du résumé