/ résumé
#SCProjectResume.largeBoxResumeCompte
  %a{ :href => "/modele" } 
    #SCProjectFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90%; margin-top:10px;" }
      Outil de travail collaboratif
  .ResumeCompte3
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      SCproject
  .ResumeCompte6
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
       
  
    
/ fin du résumé