/ résumé
#SCManageResume.largeBoxResumeCompte1
  %a{ :href => "/company" } 
    #SCManageFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 95%; margin-top:10px;" }
      Gestion des comptes et des droits d'accès
  .ResumeCompte3
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      Ma société
  .ResumeCompte6
    .ResumeCompteText3{ :style => "width: 90%; margin-top:20px;" }
      %span#CManageNBFactures.textred
        N
      Factures
    .ResumeCompteText3{ :style => "width: 90%;" }
      %span#CManageNBUsers.textred
        N
      utilisateurs
  
    
/ fin du résumé