/ résumé
#SCProjectResume.largeBoxResumeCompte1
  %a{ :href => "/modele" } 
    #SCProjectFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90%; margin-top:20px;" }
      Outil de travail collaboratif
  .ResumeCompte3
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      SCproject
  .ResumeCompte6
    .ResumeCompteText3{ :style => "width: 90%;" }
    .ResumeCompteText3{ :style => "width: 90%;" }
      %span#SCProjectNBProject.textred
        N
      Projets
  
    
/ fin du résumé