/ résumé
#SCComputeResume.largeBoxResumeCompte
  %a{ :href => "/modele" } 
    #SCComputeFleche.ResumeCompte1
  .ResumeCompte2
    .ResumeCompteText1{ :style => "width: 90%; margin-top:10px;" }
      Utilisation en ligne de nos logiciels
  .ResumeCompte3
    .ResumeCompteText1{ :style => "width: 90%;" }
    .ResumeCompteText1{ :style => "width: 90%;" }
      SCcompute
  .ResumeCompte6
    .ResumeCompteText1{ :style => "width: 90px;" }
    .ResumeCompteText1{ :style => "width: 90px;" }
       
  
    
/ fin du résumé