.DetailCadreModel1
  .DetailCadreModelMarge
  .DetailCadreModelLigne
    .DetailCadreModelCase1
      email
    .DetailCadreModelCase2
      %input#membre_change_email{ :type => "text", :onKeyup => "user_detail_change_value()" }
  .DetailCadreModelLigne
    .DetailCadreModelCase1
      Nom
    .DetailCadreModelCase2
      %input#membre_change_lastname{ :type => "text", :onKeyup => "user_detail_change_value()" }
  .DetailCadreModelLigne
    .DetailCadreModelCase1
      Prenom
    .DetailCadreModelCase2
      %input#membre_change_firstname{ :type => "text", :onKeyup => "user_detail_change_value()" }
  .DetailCadreModelLigne
    .DetailCadreModelCase1
      Droits
    .DetailCadreModelCase2
      ingénieur

  .DetailCadreModelMarge
  .DetailCadreModelLigne
    .DetailCadreModelCase1
      Statut
    .DetailCadreModelCase2
      actif
  .DetailCadreModelLigne  
    .DetailCadreModelCase1
      date d'arrivée
    .DetailCadreModelCase2
      01\/03\/2009
      
  .DetailCadreModelMarge
  .DetailCadreModelLigne
    .DetailCadreModelCase1
      Ancien mot de passe 
    .DetailCadreModelCase2
      %input#membre_change_old_password{ :type => "text", :onKeyup => "user_detail_change_value()" }
  .DetailCadreModelLigne  
    .DetailCadreModelCase1
      Nouveau mot de passe
    .DetailCadreModelCase2
      %input#membre_change_new_password{ :type => "text", :onKeyup => "user_detail_change_value()" }
  .DetailCadreModelLigne  
    .DetailCadreModelCase1
      Répéter mot de passe
    .DetailCadreModelCase2
      %input#membre_change_bis_nex_password{ :type => "text", :onKeyup => "user_detail_change_value()" }
      
  .DetailCadreModelMarge
  .DetailCadreModelMarge  

      
      