/
  TODO: ATTENTION : Ce footer comporte un melange de footer du contenu et de la page de l'application. à corriger.
  Dans ce fichier est place la partie à repasser dans le contenu.
/
  \.......partie haute du footer, bas de la boite projet plus bouton
#footer_top
  #black_footer_top.black.off
  #footer_top_1
  #footer_top_2
    /
      <a style="cursor: pointer;"   class="page_select" >
      <img src="/images/page_moins.png" style="vertical-align:middle;">
      </a>
    /
      page
      <haml:silent> (1..5).each do |i| </haml:silent>
      <a style="cursor: pointer;"  id="LM_model_page_<haml:loud> i </haml:loud>" ><haml:loud> i </haml:loud></a>
      <haml:silent> end </haml:silent>
      <a style="cursor: pointer;"  class="page_select" >
      <img src="/images/page_plus.png" style="vertical-align:middle;">
      </a>
  #footer_top_3
    #projet_model_bouton_jaune{ :style => "margin:5px 0px 0px 170px" }
      %ul
        %li
          %a{ :href => "#", :onclick => "CPcurrent_stage=displayNewModel('on')" }
            %img{ :src => "/images/LM_pic_new_model.png" }
            Déposer un modèle
/
  \.......fin partie haute du footer
