/\.......partie basse du footer, mentions legale...
#footerLarge{:style => "position:fixed; bottom:0;"}
  #conteneur
    .contentTransparent
      #black_footer.black.off{ :name => "black" }
      #footerLargeCarre
      /#footer
        
