/\.......partie basse du footer, mentions legale...
#footerLarge
  #conteneur
    .contentTransparent
      #black_footer.black.off{ :name => "black" }
      #footerLargeCarre
      /#footer
        
