/ partie header commune à toute les pages, CSproject.selected

#header
  #header_logo
  #header_company_name
    - if user_signed_in? && current_user.company
      = current_user.company.name
      / 
        TODO: Supprimer la ligne suivante dans une version ultérieure. C'est une mauvaise façon de se connecter.
        - if(current_user.company.id == 240607020)
          %br
          %a{:href => "/sc_admin_company", :id=>"administration_link" }
            administration
    - else
      Nom entreprise
  #vertical_separator
  #user_information
    - if user_signed_in?
      #user_name
        = current_user.full_name
      
      = link_to "déconnexion", destroy_user_session_path,  :id => "disconnect_link"
      #logo_session_lock  
      - #header_top_cadena        
  
  = render :partial => "layouts/main_menu" 
            

/ fin partie header
