/ partie header commune à toute les pages, CSproject.selected
#content
  #header
    #bl_1.black.off
    #header_top_logo
    #header_top_cadena
    #header_top_user
      #{session[:current_user_name]}
      %br
      - if user_signed_in?
        = link_to "déconnexion", destroy_user_session_path,  :id => "disconnect_link"
        
    #header_top_temp
    #header_top_societe
      #{session[:current_company_name]}
      / TODO: Supprimer la ligne suivante dans une version ultérieure. C'est une mauvaise façon de se connecter.
      - if(current_user && current_user.company && current_user.company.id == 240607020)
        %br
        %a{:href => "/sc_admin_company", :id=>"administration_link" }
          administration
    
    
    /#bl_2.black.off
    #menu
      %ul
        %a{ :href => "/accueil" }
          %li{:id => "mAccueil" , :class => ( @page == 'Accueil'  ? "selected" : "")}
            Accueil
            
        %a{ :href => "/company" }
          %li{:id => "mSCmanage", :class => ( @page == 'SCmanage' ? "selected" : "")}
            Ma société
            
        /%a{ :href => "/project" }
        /  %li{:id => "mSCproject", :class => ( @page == 'SC project' ? "selected" : "")}
        /    SC project
        
        %a{ :href => "/modele" }
          %li{:id => "mSCcompute", :class => ( @page == 'SCcompute' ? "selected" : "")}
            Mes modèles
            

/ fin partie header
