/ partie header commune à toute les pages, CSproject.selected
#content
  #header_top
    #bl_1.black.off
    #header_top_logo
    #header_top_cadena
    #header_top_user
      #{session[:current_user_name]}
      %br
      %a{:href => "/sessions/destroy", :style => "font-size: 0.75em; color : #b8b9c3; text-decoration: underline ;" }
        déconnexion
    #header_top_temp
    #header_top_societe
      #{session[:current_company_name]}
    
    
    /#bl_2.black.off
    #menu
      - if @page == 'Accueil' 
        %ul
          %a{ :href => "/accueil" }
            %li#mAccueil.selected 
              Accueil
          %a{ :href => "/company" }
            %li#mSCmanage
              Ma société
          /%a{ :href => "/project" }
          /  %li#mSCproject
          /    SC project
          %a{ :href => "/modele" }
            %li#mSCcompute
              Mes modèles
      - if @page == 'SCmanage' 
        %ul
          %a{ :href => "/accueil" }
            %li#mAccueil 
              Accueil
          %a{ :href => "/company" }
            %li#mSCmanage.selected
              Ma société
          /%li#mSCproject
          /  %a{ :href => "/project" }
          /    SC project
          %a{ :href => "/modele" }
            %li#mSCcompute
              Mes modèles
      - if @page == 'SC project' 
        %ul
          %a{ :href => "/accueil" }
            %li#mAccueil
              Accueil
          %a{ :href => "/company" }
            %li#mSCmanage
              Ma société
          /%a{ :href => "/project" }
          /  %li#mSCproject.selected
          /    SC project
          %a{ :href => "/modele" }
            %li#mSCcompute
              Mes modèles
      - if @page == 'SCcompute' 
        %ul
          %li#mAccueil
            %a{ :href => "/accueil" }
              Accueil
          %li#mSCmanage
            %a{ :href => "/company" }
              Ma société
          /%a{ :href => "/project" }
          /  %li#mSCproject
          /    SC project
          %a{ :href => "/modele" }
            %li#mSCcompute.selected
              Mes modèles

/ fin partie header
