
    <!-- partie header commune à toute les pages, CSproject.selected -->
          		<div id="header_top"> 
          			<div id="bl_1" class="black off">
          			</div>
          			<div id="header_top_logo"> 
    				</div>
    				<div id="header_top_societe"> 
    					Nom de la société<br /> 
    					<span STYLE="font-size: 0.70em; color : #b8b9c3">n°1010</span>
    				</div>
    				<div id="header_top_temp"> 
    				</div>
    				<div id="header_top_user"> 
    					Jérémie Bellec<br /> 
    					<span STYLE="font-size: 0.70em; color : #b8b9c3; text-decoration: underline ;">déconnexion</span>
    				</div>
    			</div>
    			<div id="header_menu"> 
    				<div id="bl_2" class="black off">
          			</div>
    				<div id="menu">
    					<ul>
    						<li id="mAccueil"><a href="./">Accueil</a></li>
    						<li id="mSCmanage"><a href="SCmanage.htm">SC manage</a></li>
    						<li id="mSCproject" ><a href="index.htm">SC project</a></li>
    						<li id="mSCcompute" class="selected"><a href="index.php">SC compute</a></li>
    					</ul>
    				</div>
    				<div id="header_profil_1"> 
    					<img src="/images/picto_profil.png">
    				</div>
    				<div id="header_profil_2"> 
    					<span STYLE="text-decoration: underline ;">  mon profil</span>
    				</div>
    			</div>
    			<div id="header_barre_bas"> 
    				<div id="bl_3" class="black off">
          			</div>
    			</div>
    <!-- fin partie header -->