
/ Mise à jour pour Rails 3, TODO: a valider.
= csrf_meta_tag

- #---------------------------------------------------------------------------------------------------------------------------#
-# = javascript_include_tag :defaults


- #---------------------------------------------------------------------------------------------------------------------------#
/ Balises META    
%meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
%meta{ :name => "title"   , :content => "Structure Computation"               }
%meta{ :name => "language", :content => "fr"                                  }
%meta{ :name => "robots"  , :content => "index, follow"                       }



- #---------------------------------------------------------------------------------------------------------------------------#
/ Liens vers les CSS

/ Liens vers les CSS Compass
%link{ :href => "/stylesheets/main_ext_app.css", :rel => "stylesheet", :type => "text/css" }


- #---------------------------------------------------------------------------------------------------------------------------#
/ Javascripts


- #---------------------------------------------------------------------------------------------------------------------------#
/ Initialisation du token de protection XSS
= csrf_meta_tag
%script{ :type => "text/javascript"}
  = "function authToken(){ return '#{ form_authenticity_token if protect_against_forgery? }'; }" 

- # php include("./php/functions_layer_LM.php");
