/ Menu principal de l'application.

%ul#main_menu
  %li{:class => ( @page == :accueil ? "selected" : "")}
    =link_to 'Accueil', root_path
  
  %li{:class => ( @page == :manage ? "selected" : "")}
    = link_to 'Ma société', companies_path
          
  %li{:class => ( @page == :bibliotheque ? "selected" : "")}
    %a
      Bibliothèque
    %ul#drop_down_menu      
      %li
        = link_to 'Modèles', company_sc_models_path(current_user.company)
      %li
        = link_to 'Matériaux', company_materials_path(current_user.company)
    
      %li
        = link_to 'Liaisons', company_links_path(current_user.company)

-# TODO: Utiliser un helper pour le style "selected"
-#   %li{:id => "menu_accueil"     , :class => "main_menu_item " + menu_item_selected_class( @page, :accueil   ) }




    
