<!-- partie pathbar -->
			<div id="path_bar"> 
				<div id="bl_4" class="black off">
      			</div>
      			<div id="path_bar_1" >
      			</div>
      			<div id="path_bar_2" >
      				<span STYLE="text-decoration: underline ;">Acceuil</span> > <span STYLE="text-decoration: underline ;">SC compute</span> > <span STYLE="font-weight: bold;">liste des modèles
      			</div>
			</div>
<!-- fin partie pathbar -->