-# encoding: utf-8 
/
  partie pathbar
#path_bar
  #bl_4.black.off
  #path_bar_1
  #path_bar_2
    %span{ :style => "text-decoration: underline ;" }
      Acceuil
    >
    %span{ :style => "text-decoration: underline ;" }
      SC compute
    >
    %span{ :style => "font-weight: bold;" }
      liste des modèles
/
  fin partie pathbar
