!!!
%html{ "xml:lang" => "fr", :lang => "fr", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title
      Structure Computation

    / Balises META    
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "title", :content => "Structure Computation" }
    %meta{ :name => "language", :content => "fr" }
    %meta{ :name => "robots", :content => "index, follow" }
    
    / Liens vers les CSS
    %link{ :href => "/stylesheets/main.css", :rel => "stylesheet", :media => "screen" }
    
    / Javascripts
    %script{ :src => "/javascripts/sources_ext/jquery-1.3.2.js" ,   :type => "text/javascript" }
    %script{ :src => "/javascripts/texteutils.js"               ,   :type => "text/javascript" }
    %script{ :src => "/javascripts/jquery.tablesorter.js"       ,   :type => "text/javascript" }
    %script{ :src => "/javascripts/jquery.tablesorter.pager.js" ,   :type => "text/javascript" }
    %script{ :src => "/javascripts/sources_ext/swfupload.js"    ,   :type => "text/javascript" }
    %script{ :src => "/javascripts/sources_ext/jquery-asyncUpload-0.1.js",:type => "text/javascript" }
    /%script{ :src => "/javascripts/sources_ext/jquery_uploadify/swfobject.js"    ,   :type => "text/javascript" }
    /%script{ :src => "/javascripts/sources_ext/jquery_uploadify/jquery.uploadify.v2.1.0.js",:type => "text/javascript" }

    
    / Javascript particulier.
    %script{ :src => "/javascripts/functions_layer_LM.js" ,   :type => "text/javascript" }
    
    - # %script{ :type => "text/javascript" }
    - #  \// partie utilisee pour redefinir des actions normalement definies dans le fichier js functions_layer_LM.js le temps de le supprimer.
    - #  function go_page_model(param){};
    - # / Fin Javascript particulier.
    
    - # php include("./php/functions_layer_LM.php");

  %body
    #conteneur
      = render :partial => "layouts/header"
      = render :partial => "layouts/pathbar"
      /partie contenu
      /#content
        
      / Debut affichage du code de la vue
      = yield
      / Fin du code d'affichage de la vue

      / Fin content
      / = render :partial => "layouts/a_CORRIGER_footer_top"
      = render :partial => "layouts/footer"
    /
      Fin conteneur
