-content_for :header do
  = render :partial => "layouts/partials/header"
-content_for :content do
  #header_company
    #left_top
      = yield :left_top
    #right_top
      = yield :right_top
  #content_company
    = yield :company_content

=render :file => 'layouts/application'