/ filtre
#largeBoxfilter.on{:style => "height : 70px;"}

/     Nom :
/     %input{ :name => "username", :type => "text" }

/     Prénom :
/     %input{ :name => "ref", :type => "text" }  
/     %img{ :src => "/images/picto_loupe_filtre.png" }

/     Filtrer les membres
     
/     type :
/     %input{ :name => "new_result", :type => "text" }
/ 
/     Statut :
/     %input{ :name => "date_deb_1", :type => "text"}

/     Annuler les filtres de recherche
/     %img{ :src => "/images/picto_annuler_filter.png", :style => "vertical-align:middle;" }

/ fin du filtre