-content_for :left_top do
  .left_submenu
    %h2.grey
      Comptes
    %ul
      %li.manage_pic_nouveau_membre
        = link_to "Ajouter un membre", new_workspace_member_path (current_workspace_member.workspace)


-content_for :right_top do
  %h2.grey
    Liste des membres
  = render :partial => "search_filter"

-content_for :workspace_content do
  = render :partial => "members_list", :object => @members

