-content_for :left_top do
  .left_submenu
    %h2.grey
      Menu
    %ul
      %li.LM_pic_materiau
        =link_to 'Retour à la liste des membres', workspace_path(@workspace, :anchor => 'Membres')

-content_for :workspace_content do        
  = render "form"