- content_for :additionnal_stylesheets do
  = stylesheet_link_tag "member"

= render :partial => "member_detail", :object => @member

/ %h4
/   Détail du membre
/ 
/ %dl
/   %dt Mail
/   %dd= @member.email
/   
/   %dt Nom
/   %dd= @member.lastname
/ 
/   %dt Prénom
/   %dd= @member.firstname
/ 
/   %dt Role
/   %dd= @member.role
/   %br/
/ 
/   %dt Status
/   %dd= @member.state
/ 
/   %dt Date de création
/   %dd= @member.created_at